<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <css th:replace="layout/header::headerCss"/>
    <style>
 body{
    margin-top:20px;
    background:#f8f8f8
}
.avatar--md .avatar__content img{
    width:40px;
    height:40px;
}
    </style>

</head>
<body>
<div th:replace="layout/header::header"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="mb-4">
            	<div id="moimNo" th:data-moimNo="${no}"></div><!-- 모임번호 -->
                <div class="small mb-3">Search</div>
                <div class="input-group">
                    <input placeholder="Search for..." type="text" class="form-control">
                    <div class="input-group-append">
                        <button type="button"  aria-haspopup="true" aria-expanded="false" class="dropdown-toggle btn btn-link"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <div class="small mb-3">Favorites</div>
                <ul class="nav flex-column nav-pills">
                    <li class="nav-item"><a href="#" class="nav-link active"><i class="fa fa-fw fa-line-chart mr-2"></i>해야 할목록</a></li>
                    <li class="nav-item"><a href="/moimDetail/moimTodoList/moimcalender" class="nav-link"><i class="fa fa-fw fa-calendar-o mr-2"></i>달력일정 체크하기</a></li>
                </ul>
            </div>
            <div class="mb-4">
                <div class="small mb-3">Projects</div>
                <ul class="nav flex-column nav-pills">
                    <li class="nav-item"><a th:href="@{'/moimDetail/moimTodoList/moimTodoListcompleted/' + ${no}}" class="d-flex nav-link"><i class="fa fa-fw fa-star-o align-self-center mr-2"></i>완료된것들<span class="ml-auto align-self-center badge badge-secondary badge-pill">12</span></a></li>
                    <li class="nav-item"><a th:href="@{'/moimDetail/moimTodoList/moimtodostatus/' + ${no}}" class="d-flex nav-link"><i class="fa fa-fw fa-star-o align-self-center mr-2"></i>현재 진행상태(목록)<span class="ml-auto align-self-center badge badge-secondary badge-pill">4</span></a></li>
                    <li class="nav-item"><a href="#" class="d-flex nav-link"><i class="fa fa-fw fa-star-o align-self-center mr-2"></i>미완료 목록<span class="ml-auto align-self-center badge badge-secondary badge-pill">9</span></a></li>
                    <li class="nav-item"><a th:href="@{'/moimDetail/moimTodoList/moimTodowrite/' + ${no}}" class="nav-link"><i class="fa fa-fw fa-plus mr-2"></i>일정 관리 세우기</a></li>
                </ul>
            </div>
           
        </div>
        <div class="col-lg-9">
            <div class="d-flex flex-column flex-md-row mb-3 mb-md-0">
                <nav class="mr-auto d-flex align-items-center" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="active breadcrumb-item" aria-current="page"><a href="/"><i class="fa fa-home"></i></a></li>
                        <li class="active breadcrumb-item" aria-current="page">공부 일정관리</li>
                    </ol>
                </nav>
                <div role="toolbar" class="btn-toolbar">
                    <div role="group" class="btn-group">
                     <a th:href="@{'/moimDetail/moimTodoList/moimTodowrite/' + ${no}}" class="d-flex nav-link">
                        <button id="tooltipAddNew" class="align-self-center btn btn-primary"><i class="fa-fw fa fa-plus"></i></button></a>
                    </div>
                </div>
            </div>
            <div class="mb-3 Card_custom-card--border_5wJKy card">
                <div class="table-responsive-xl">
                    <table class="mb-0 table table-hover">
                        <thead>
                            <tr>
                                <th class="align-middle bt-0" width="5">Star</th>
                                <th class="align-middle bt-0" width="100">공부계획</th>
                                <th class="align-middle bt-0" width="10">현재 공부 상태</th>
                                <th class="align-middle bt-0"	width="50">공부 진척도</th>
                                <th class="align-middle bt-0" width="10">참가자</th>
                                <th class="align-middle bt-0 text-right" width="5">상세보기</th>
                            </tr>
                        </thead>
                        <tbody>
                      		<tr th:each="list : ${todolist}" >
                      		<td class="align-middle">
                                    <div class="text-inverse"><a href="#"><i class="fa fa-fw fa-lg fa-star-o"></i></a></div>
                                </td>
                      		<td><div><a th:href="@{'/moimDetail/moimTodoList/moimtodostatus/'+${no}}"><span  th:text="${list.plan_title}"></span></a></div>
                      		   Edited by: <div th:text="${list.people.name}"></div><div th:text="${list.create_date}"></div></td>  
                                 <td class="align-middle"><span class="badge badge-danger badge-pill">Suspended</span></td>
                                  <td class="align-middle">
                                    <div class="mb-2 progress" style="height: 5px;">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" th:style="'width:'+${list.progress}+'%;'"></div>
                                    </div>
                                    <div>Tasks Completed:<span class="text-inverse"th:text="${list.count}" ></span></div>
                                </td>
                                
                              
                                <td class="align-middle">
                                    <div class="avatar-image avatar-image--loaded">
                                        <div class="avatar avatar--md avatar-image__image">
                                            <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar1.png"></div>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle text-right">
                                    <div class="btn-group">
                                        <a th:href="@{'/moimDetail/moimTodoList/moimtodostatus/moimtodostatusDetail/' + ${list.id}}" class="d-flex nav-link"><i class="fa fa-search"></i></a>
                                        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                            <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-folder-open mr-2"></i>View</button>
                                            <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-ticket mr-2"></i>Add Task</button>
                                            <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-paperclip mr-2"></i>Add Files</button>
                                            <div tabindex="-1" class="dropdown-divider"></div>
                                            <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-trash mr-2"></i>Delete</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                   
                           
                      
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-center pb-0 card-footer">
                   	<nav style="text-align: center;">
     <ul class="pagination"
        th:with="start=${T(Math).floor(todolist.number/10)*10 + 1},
                    last=(${start + 9 < todolist.totalPages ? start + 9 : todolist.totalPages})">
        <li>
            <a th:href="@{|/moimDetail/moimTodoList/${no}?page=1|}" aria-label="First">
                <span aria-hidden="true">First</span>
            </a>
        </li>

        <li th:class="${todolist.first} ? 'disabled'">
            <a th:href="${todolist.first} ? '#' :@{|/moimDetail/moimTodoList/${no}?page=${todolist.number}|}" aria-label="Previous">
                <span aria-hidden="true">&lt;</span>
            </a>
        </li>

        <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == todolist.number + 1} ? 'active'">
            <a th:text="${page}" th:href="@{|/moimDetail/moimTodoList/${no}?page=${page}|}"></a>
        </li>

        <li th:class="${todolist.last} ? 'disabled'">
            <a th:href="${todolist.last} ? '#' : @{|/moimDetail/moimTodoList/${no}?page=${todolist.number + 2}|}" aria-label="Next">
                <span aria-hidden="true">&gt;</span>
            </a>
        </li>

        <li>
            <a th:href="@{|/moimDetail/moimTodoList/${no}?page=${todolist.totalPages}|}" aria-label="Last">
                <span aria-hidden="true">Last</span>
            </a>
        </li>
    </ul> 
</nav>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script>
$(document).ready(function(){
 	if(!('${moimPeople}')){
 		$('body').click(function(){
 		    alert("모임에 가입하셔야 이용하실 수 있습니다");
 		    history.back();
 		});
 	}
   });

</script>
</html>