<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<css th:replace="layout/header::headerCss" />
<link th:href="@{/css/community/sidemenu.css}" rel="stylesheet" />
<!-- 사이드메뉴css -->
<div th:replace="layout/header::header" />
<style>
body {
  padding-top: 70px;
  padding-bottom: 30px;
}
.filebox label {
 display: inline-block;
  padding: .5em .75em; 
  color: #FFFFFF;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle; 
  background-color: #2F89FC; 
  cursor: pointer; 
  border: 1px solid #ebebeb; 
  border-bottom-color: #e2e2e2; 
  border-radius: .25em; 
} 
.filebox input[type="file"] { /* 파일 필드 숨기기 */ 
	position: absolute; 
	width: 1px; 
	height: 1px; 
	padding: 0; 
	margin: -1px; 
	overflow: hidden; 
	clip:rect(0,0,0,0); border: 0; 
}
</style>
<script src="/ckeditor/ckeditor.js"></script>
<script src="/js/moim/moimPhotoAlbum.js"></script>
</head>

<body>
	
<article>

		<div class="container1" style="margin-left:250px; max-width:1180px">
			<input id = 'noId' th:noId="${no}" type='hidden'/>
			<h2>글 작성</h2>
			<form name="form" id="form" role="form" method="post" action="${pageContext.request.contextPath}/board/saveBoard">
				<div class="mb-3">
					<label for="title">제목</label>
					<input type="text" class="form-control" name="title" id="title" placeholder="제목을 입력해 주세요">
				</div>
				<!-- 
				<div class="mb-3">
					<label for="content">내용</label>
					<textarea class="form-control" rows="5" name="content" id="content" placeholder="내용을 입력해 주세요" ></textarea>
				</div>
				 -->
				<div class ="mb-3">
					<div class="filebox"> 
						<label for="ex_file">업로드</label> 
						<input type="file" id="ex_file" multiple="multiple"> 
					</div>
				</div>
			</form>
			<div class="mb-3" style = " width: 100%;height: 300px;">
					<div style='width : 50%; height : 100%; background : #0ff;float:left;'>
						<img id ="image_section"/>
					</div>
					<div style ='width : 50%;height : 100%;float:right;'>
						<div style ="background : #000; height:50%;">
						</div>
						<div style ="background : #fff;height:50%;">
						</div>
					</div>
				</div>
			<div >
				<button type="button" class="btn btn-sm btn-primary" id="btnSave">저장</button>
				<button type="button" class="btn btn-sm btn-primary" id="btnList">목록</button>
			</div>
			<form id = "fileForm"name="fileForm" action="/moimDetail/test" method="POST" enctype="multipart/form-data">
				<input type="file" name="file" id="file0" onchange="addButton(this.id)"/>
				
				<!-- <input type="submit"  value="저장"/> -->
			</form>
			<!-- 이미지 추가할 div  -->
			<div id='imgList' style="margin:1px;">
			</div>
			<input type="button" onClick="saveImage()" value="테스트버튼" />
		</div>
	</article>

<script>
var count =0;
$("#ex_file").on("change",readURL);
function readURL(input) {
	var files = input.target.files;
	var filesArr = Array.prototype.slice.call(files);
	var index =0;
	filesArr.forEach(function(f){
		console.log(f);
	});	
		
	if (input.files && input.files[0]) {
		var reader = new FileReader();
		reader.onload = function (e) {
			$('#image_section').attr('src', e.target.result);  
		}
		reader.readAsDataURL(input.files[0]);
	}
}
function addButton(idCnt)
{
	count++;
	console.log('d');
	let formId = document.getElementById('fileForm');
	let imgList = document.getElementById('imgList');
	//let fileName = this.files[0];
	//console.log(fileName);
	//document.getElementById(idCnt).style.display = 'none';
	//imgList.innerHTML += '<img src=" '+ fileName.name+'"/>';
	formId.innerHTML += '<input type="file" id= "file' +count+ '" name="file" onchange ="addButton(this.id)"/>';
}
function saveImage()
{
    var noId = $('#noId').attr("noId");
	var file = document.getElementsByName('file');
	var formData = new FormData();
	for (var i = 0; i < file.length; i++) {
		//if(document.getElementsByName('file')[i].style.display == 'none'){
			formData.append('file', document.getElementsByName('file')[i].files[0])
		
		console.log(document.getElementsByName('file')[i]);
		console.log('test'+document.getElementsByName('file')[i].files[0]);
		//}
	}
	formData.append('title',document.getElementById('title').value);
	formData.append('moimId',noId);
	$.ajax({
		url: '/moimDetail/test',
		type: 'POST',
		enctype: 'multipart/form-data',
		processData: false, //데이터를 쿼리 문자열로 변환하는 jQuery 형식 방지
		contentType: false,
		dataType: 'json',
		cache: false,
		mimeType: "multipart/form-data",
		data: formData,
		success: function (data) {
			if(data['result'] == "성공"){
				location.href='/moimDetail/'+noId+'/moimPicture';
			}
			else{
				alert(data['result'] +' 실패입니다.');
			}			
		},
		error: function (request, status, error) {
			alert("오류입니다. 다시 입력해주세요.");
		}
	});
}
/*
CKEDITOR.replace("content",{
    filebrowserUploadUrl : "${path}/imageUpload.do"
}); //이미지 업로드 기능을 추가하기위한 코드
*/
</script>

</body>
</html>