<div id="list">
	<tr th:each="list : ${todolist}">
		<td class="align-middle">
			<div class="text-inverse">
				<a href="#"><i class="fa fa-fw fa-lg fa-star-o"></i></a>
			</div>
		</td>
		<td><div>
				<a href="#" th:onclick="get_detail('${list.id}');"><span
					th:text="${list.plan_title}"></span></a>
			</div> Edited by:<span th:text="${list.people.name}"></span> <br> <span
			th:text="${list.from_date}">~</span> <span
			th:if="${list.to_date2}==null" th:text="${list.to_date}"></span> <span
			th:unless="${list.to_date2}==null" th:text="${list.to_date2}"></span>
		</td>
		<td class="align-middle"><span th:if="${list.status}=='New'"
			class="badge badge-light badge-pill">>New</span> <span
			th:if="${list.status}=='In Progress'"
			class="badge badge-success badge-pill">In Progress</span> <span
			th:if="${list.status}=='End'" class="badge badge-danger badge-pill">End</span>
			<span th:if="${list.status}=='Suspend'"
			class="badge badge-danger badge-pill">>Suspend</span>
		<td class="align-middle">
			<div class="mb-2 progress" style="height: 5px;">
				<div class="progress-bar" role="progressbar" aria-valuenow="50"
					aria-valuemin="0" aria-valuemax="100"
					th:width="${list.progress}'%'"></div>
			</div>
			<div>
				진행률:<span th:text="${list.count}"></span>
			</div>
		</td>
		<td class="align-middle">
			<div class="avatar-image avatar-image--loaded">
				<div class="avatar avatar--md avatar-image__image">
					<div class="avatar__content">
						<img src="https://bootdey.com/img/Content/avatar/avatar1.png">
					</div>
				</div>
			</div>
		</td>
	</tr>
</div>
