<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<css th:replace="layout/header::headerCss" />
<link th:href="@{/css/moim/moimTodowrite.css}" rel="stylesheet" />
<style>
.table-sortable tbody tr {
	cursor: move;
}
</style>
</head>
<div th:replace="layout/header::header" />
<link th:href="@{/css/moim/moimtodostatusDetail.css}" rel="stylesheet" />
<!--할일목록체크박스리스트  -->

<div class="container">
	<div class="row">

		<p></p>
		<h1>일정 계획 세우기</h1>
		<input type="text" name="title" id="title"
			placeholder="일정이름을 입력하세요 ex)공부계획" class="form-control">
		<div class="col-md-10 col-md-offset-1">
			시작일=<input type="text" name="date" id="from_date" size="12" />달력넣기
			종료일=<input type="text" name="date" id="to_date" size="12" />


			<div id="myDIV" class="header">
				<h2 style="margin: 5px">My To Do List</h2>
				<input type="text" id="myInput" placeholder="Title..."> <span
					onclick="newElement()" class="addBtn">Add</span>
			</div>

			<ul id="myUL">
				<li>Hit the gym</li>
				<li class="checked">Pay bills</li>
				<li>Meet George</li>
				<li>Buy eggs</li>
				<li>Read a book</li>
				<li>Organize office</li>
			</ul>


			<center>
				<button type="button" class="btn btn-sm btn-primary btn-create">일정
					계획 완료</button>
				<a href="/moimDetail/moimTodoList/moimtodostatus">
					<button type="button" class="btn btn-light waves-effect">목록으로
						가기</button>
				</a>

			</center>
		</div>
	</div>
</div>
<script src="/js/moim/moimTodowrite.js"></script>
</body>
</html>