<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <css th:replace="layout/header::headerCss"/>
     <link th:href="@{/css/moim/moimtodostatusDetail.css}" rel="stylesheet" /><!--할일목록체크박스리스트  -->
    <style>
 body{
    margin-top:0px;
    background:#f8f8f8
}
.avatar--md .avatar__content img{
    width:40px;
    height:40px;
}
.sidenav {

  height: 70%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index:	1; /* Stay on top */
  right: 0;
  background-color: #FAFAFA; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 30px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
/* The navigation menu links */
.sidenav li {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
/* When you mouse over the navigation links, change their color */
.sidenav li:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.checked{
	 color:#f1f1f1;
}
.modal-content{
	position: absolute;
	bottom:0px;
}
.progress-outer{
    background: #fff;
    border-radius: 50px;
    padding: 25px;
    margin: 10px 0;
    box-shadow: 0 0  10px rgba(209, 219, 231,0.7);
}
.progress{
    height: 27px;
    margin: 0;
    overflow: visible;
    border-radius: 50px;
    background: #eaedf3;
    box-shadow: inset 0 10px  10px rgba(244, 245, 250,0.9);
}
.progress .progress-bar{
    border-radius: 50px;
}
.progress .progress-value{
    position: relative;
    left: -45px;
    top: 4px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
}
.progress-bar.active{
    animation: reverse progress-bar-stripes 0.40s linear infinite, animate-positive 2s;
}
@-webkit-keyframes animate-positive{
    0% { width: 0%; }
}
@keyframes animate-positive {
    0% { width: 0%; }
}
    </style>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
<div th:replace="layout/header::header"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="mb-4">
            	<div id="moimNo" th:data-moimNo="${moim.id}"></div><!-- 모임번호 -->
            	<div id="moimPeople" th:data-No="${moimPeople}"></div><!-- 모임번호 -->
            	<div id="Login" th:data="${session.peopleEmail}"></div><!-- 모임번호 -->
               <!--  <div class="small mb-3">Search</div>
                <div class="input-group">
                    <input placeholder="Search for..." type="text" class="form-control">
                    <div class="input-group-append">
                        <button type="button"  aria-haspopup="true" aria-expanded="false" class="dropdown-toggle btn btn-link"><i class="fa fa-search"></i></button>
                    </div>
                </div> -->
            </div>
            <div class="mb-4">
                <!-- <div class="small mb-3">Favorites</div> -->
                <ul class="nav flex-column nav-pills">
                    <li class="nav-item"><a th:href="@{'/moimDetail/moimTodoList/' + ${moim.id}}" class="nav-link " id="allList"><i class="fa fa-fw fa-line-chart mr-2"></i>전체 일정 보기</a></li>
                    <li class="nav-item"><a th:href="@{'/moimDetail/moimTodoList/myList/'+ ${moim.id}}" class="nav-link" id="myList"><i class="fa fa-pencil-square-o mr-2"></i>내 일정 목록</a></li>
                    <!-- <li class="nav-item"><a href="/moimDetail/moimTodoList/moimcalender" class="nav-link"><i class="fa fa-fw fa-calendar-o mr-2"></i>달력일정 체크하기</a></li> -->
                
                </ul>
            </div>
            <div class="mb-4">
                <div class="small mb-3">Projects</div>
                <ul class="nav flex-column nav-pills">
                    <li class="nav-item" id="New" onclick="detail_list('New');"><i class="fa fa-fw fa-star-o align-self-center mr-2"></i>새로운 일정<span class="ml-auto align-self-center badge badge-secondary badge-pill" th:text="${count[0]}"></span></li>
                    <li class="nav-item" id="In Progress" onclick="detail_list('In Progress');" ><i class="fa fa-fw fa-star-o align-self-center mr-2"></i>진행중인 일정<span class="ml-auto align-self-center badge badge-secondary badge-pill" th:text="${count[1]}"></span></li>
                    <li class="nav-item" id="End"onclick="detail_list('End');" ><i class="fa fa-fw fa-star-o align-self-center mr-2"></i>완료된것들<span class="ml-auto align-self-center badge badge-secondary badge-pill" th:text="${count[2]}"></span></li>
                    <li class="nav-item" id="Suspend" onclick="detail_list('Suspend');" ><i class="fa fa-fw fa-star-o align-self-center mr-2"></i>미완료 목록<span class="ml-auto align-self-center badge badge-secondary badge-pill" th:text="${count[3]}"></span></li>
                    <li class="nav-item"><a th:href="@{'/moimDetail/moimTodoList/moimTodowrite/' + ${no}}" class="nav-link"><i class="fa fa-fw fa-plus mr-2"></i>일정 관리 세우기</a></li>
                </ul>
            </div>
           
        </div>
        <div id="detail"  class="sidenav"><div id="detail-body"></div></div>

        <div class="col-lg-8">
            <div class="d-flex flex-column flex-md-row mb-3 mb-md-0">
                <nav class="mr-auto d-flex align-items-center" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="active breadcrumb-item" aria-current="page"><a href="/"><i class="fa fa-home"></i></a></li>
                        <li class="active breadcrumb-item" aria-current="page"><span th:text="${moim.title}"></span>&nbsp &nbsp 일정관리</li>
                    </ol>
                </nav>
                <input type="text" id="searchBox" style="width:150px; height:45px" placeholder="작성자를 검색하세요.">
                <button type="button" onclick="detail_list('writer,')" class="btn btn-outline-info" style="width:70px;height:45px">검색</button>
                <div role="toolbar" class="btn-toolbar" style="heigth:45px">
                    <div role="group" class="btn-group">
                     <a th:href="@{'/moimDetail/moimTodoList/moimTodowrite/' + ${moim.id}}" class="d-flex nav-link">
                        <button id="tooltipAddNew" class="align-self-center btn btn-primary"><i class="fa-fw fa fa-plus"></i></button></a>
                    </div>
                </div>
            </div>
            <div class="mb-3 Card_custom-card--border_5wJKy card">
                <div class="table-responsive-xl">
                    <table class="mb-0 table table-hover">
                        <thead>
                            <tr>
                                <th class="align-middle bt-0" width="5">Star</th>
                                <th class="align-middle bt-0" width="100">계획</th>
                                <th class="align-middle bt-0" width="5">현재 상태</th>
                                <th class="align-middle bt-0"	width="150">진행도</th>
                                <th class="align-middle bt-0" width="10">글쓴이</th>
                             
                            </tr>
                        </thead>
                        <tbody id="list">
                      		<tr th:each="list : ${todolist}"  >
                      		<td class="align-middle">
                                    <div class="text-inverse">                                   <a href="#"><i class="fa fa-fw fa-lg fa-star-o"></i></a></div>
                                </td>
                      		<td><div><a href="#" onclick="get_detail($(this).attr('id'));"  th:id="${list.id}"><span  th:text="${list.plan_title}"></span></a></div>
                      		   Edited by: <span th:text="${list.people.name}"></span><br>
                      		    <span th:text="${list.from_date}"></span> ~ 
                      		    <span  th:if="${list.to_date2 eq null}" th:text="${list.to_date}"></span>
                      		    <span  th:if="${list.to_date2 ne null}" th:text="${list.to_date2}"></span>
                      		   </td>  
                                 <td class="align-middle">
                                 <span th:if="${list.status eq 'New'}" ><span class="badge badge-light badge-pill" th:text="${list.status}"></span></span>
                               <span  th:if="${list.status eq 'In Progress'}" ><span class="badge badge-info badge-pill"th:text="${list.status}"></span></span> 
                               <span th:if="${list.status eq 'End'}"><span class="badge badge-successr badge-pill"  th:text="${list.status}"></span></span>
                               <span th:if="${list.status eq 'Suspend'}"><span id="suspendVal" class="badge badge-danger badge-pill"  th:text="${list.status}"></span></span></td>
                                  <td class="align-middle">
                                    <div class="mb-2 progress" style="height: 40px;">
                                        			<div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" th:style="'width:'+${list.progress}+'%;'"></div>
                                    </div>
                                    <div>진행량:<span class="text-inverse"th:text="${list.progress_done}+'/'+${list.progress_total}" ></span></div>
                                </td>
                                
                              
                                <td class="align-middle">
                                    <div class="avatar-image avatar-image--loaded">
                                        <div class="avatar avatar--md avatar-image__image">
                                            <div class="avatar__content"> <img th:src="${list.people.imageName!=null} ?${'/getMoimImage/'+list.people.imageName+'.'+list.people.imageExtension} : '/images/default_people.png'"> </div>
                                        </div>
                                    </div>
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
               
                <div class="d-flex justify-content-center pb-0 card-footer">
                   	<nav style="text-align: center;" id="page">
     <span th:if="${status.equals('allList')}">
	     <ul class="pagination"
	        th:with="start=${T(Math).floor(todolist.number/10)*10 + 1},
	                    last=(${start + 9 < todolist.totalPages ? start + 9 : todolist.totalPages})" th:if="${todolist.totalPages ne 0}" >
	        <li>
	            <a th:href="@{|/moimDetail/moimTodoList/${moim.id}?page=1|}" aria-label="First">
	                <span aria-hidden="true">First</span>
	            </a>
	        </li>
	
	        <li th:class="${todolist.first} ? 'disabled'">
	            <a th:href="${todolist.first} ? '#' :@{|/moimDetail/moimTodoList/${moim.id}?page=${todolist.number}|}" aria-label="Previous">
	                <span aria-hidden="true">&lt;</span>
	            </a>
	        </li>
	
	        <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == todolist.number + 1} ? 'active'">
	            <a th:text="${page}" th:href="@{|/moimDetail/moimTodoList/${moim.id}?page=${page}|}"></a>
	        </li>
	
	        <li th:class="${todolist.last} ? 'disabled'">
	            <a th:href="${todolist.last} ? '#' : @{|/moimDetail/moimTodoList/${moim.id}?page=${todolist.number + 2}|}" aria-label="Next">
	                <span aria-hidden="true">&gt;</span>
	            </a>
	        </li>
	
	        <li>
	            <a th:href="@{|/moimDetail/moimTodoList/${moim.id}?page=${todolist.totalPages}|}" aria-label="Last">
	                <span aria-hidden="true">Last</span>
	            </a>
	        </li>
	    </ul> 
    </span>
    <span th:if="${status.equals('myList')}">
	     <ul class="pagination"
	        th:with="start=${T(Math).floor(todolist.number/10)*10 + 1},
	                    last=(${start + 9 < todolist.totalPages ? start + 9 : todolist.totalPages})" th:if="${todolist.totalPages ne 0}" >
	        <li>
	            <a th:href="@{|/moimDetail/moimTodoList/myList/${moim.id}?page=1|}" aria-label="First">
	                <span aria-hidden="true">First</span>
	            </a>
	        </li>
	
	        <li th:class="${todolist.first} ? 'disabled'">
	            <a th:href="${todolist.first} ? '#' :@{|/moimDetail/moimTodoList/myList/${moim.id}?page=${todolist.number}|}" aria-label="Previous">
	                <span aria-hidden="true">&lt;</span>
	            </a>
	        </li>
	
	        <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == todolist.number + 1} ? 'active'">
	            <a th:text="${page}" th:href="@{|/moimDetail/moimTodoList/myList/${moim.id}?page=${page}|}"></a>
	        </li>
	
	        <li th:class="${todolist.last} ? 'disabled'">
	            <a th:href="${todolist.last} ? '#' : @{|/moimDetail/moimTodoList/myList/${moim.id}?page=${todolist.number + 2}|}" aria-label="Next">
	                <span aria-hidden="true">&gt;</span>
	            </a>
	        </li>
	
	        <li>
	            <a th:href="@{|/moimDetail/moimTodoList/myList/${moim.id}?page=${todolist.totalPages}|}" aria-label="Last">
	                <span aria-hidden="true">Last</span>
	            </a>
	        </li>
	    </ul> 
    </span>
    <span th:if="${todolist.totalPages eq 0}" >일정이 존재하지 않습니다.</span>
</nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="moim/moimtodostatusModal::moimtodostatusModal" />
</body>
<script>
$(document).ready(function(){
	//시간 받아와서 지나면 suspend로 업데이트
	$.ajax({
 	     url:'/moimDetail/moimTodoList/status/'+$('#moimNo').attr("data-moimNo"),
 	  
 	   });

	 document.getElementById("detail").style.display="none";
 	if($('#moimPeople').attr("data-No")=='false'){
 		window.onclick=function(){ 
 		    alert("모임에 가입하셔야 이용하실 수 있습니다");
 		   location.href='/moimlistView/moimdetailView/'+$('#moimNo').attr("data-moimNo");
 		   return;
 		};
 	}

 	var location=document.location.href;
 	if(location.indexOf("myList")>0){
 		document.getElementById('myList').setAttribute('class','nav-link active');
 	}else
 		document.getElementById('allList').setAttribute('class','nav-link active');
 		
 	
   });

function close_detail(){
	 document.getElementById("detail").style.width = "0";
}
function get_detail(id) {

	
	
	   $.ajax({
	      url:'/moimDetail/moimTodoList/detail/'+id,
	        contentType: "application/json; charset=utf-8",
	        processData: false, //데이터를 쿼리 문자열로 변환하는 jQuery 형식 방지
	        success:function(data){
	        	 if(data.code==1){
	        		 var todo = data.todo;
	        		 var list= data.list;
	        		 var writer=data.writer;
	        			 
	        			var html='<div id="detail-body">  <a href="javascript:void(0)" class="closebtn" onclick="close_detail()">&times;</a>  ';
	        			   html+='<h3><span> '+todo.plan_title+' </span> </h3><ul id="myUL" >';
	        			var html2= '<ul id="DoneUL" >';
	        			
	        			   for(var i in list){
	        				   if(list[i].checkConfirm=='N'){
	        					   html+='<li onclick="uncheck($(this))" value="'+list[i].id+'">'+list[i].plan_list;
	        					   //작성한 detail 없고 체크안된경우
	        					   if(list[i].detail=='N'){
	        						   if(writer.email==$("#Login").attr("data")){
	        					   		html+="<button type='button'onclick='modal_view(\""+list[i].plan_list.trim()+"\",\""+writer.name+"\","+list[i].id+","+todo.id+",\""+writer.email+"\")'id='myBtn'  aria-haspopup='true' aria-expanded='false' class='dropdown-toggle btn btn-link'>";
	        					   		html+='' 
	 								  }				
	        					   	}	else{
	        					   		html+="<button type='button'onclick='modal_view(\""+list[i].plan_list.trim()+"\",\""+writer.name+"\","+list[i].id+","+todo.id+",\""+writer.email+"\")'id='myBtn'  aria-haspopup='true' aria-expanded='false' class='dropdown-toggle btn btn-link'>";
	        					   		html+="보기";
	        					   	}	
	        					   	html+= '     </button></li>';
	        					   
	        				   }
	        				   else{
	        					   
	        					   html2+='<li class="checked">'+list[i].plan_list;
	        				   //작성한 detail 없고 체크된경우
        					   if(list[i].detail=='N'){
        						   if(writer.email==$("#Login").attr("data")){
	        					   		html+="<button type='button'onclick='modal_view(\""+list[i].plan_list.trim()+"\",\""+writer.name+"\","+list[i].id+","+todo.id+",\""+writer.email+"\")'id='myBtn'  aria-haspopup='true' aria-expanded='false' class='dropdown-toggle btn btn-link'>";
	        					   		html+='▷' 
	 								  }		
        					   	}	else{
        					   		html2+="<button type='button'onclick='modal_view(\""+list[i].plan_list.trim()+"\",\""+writer.name+"\","+list[i].id+","+todo.id+",\""+writer.email+"\")'id='myBtn'  aria-haspopup='true' aria-expanded='false' class='dropdown-toggle btn btn-link'>";
        					   		html2+="보기";
        					   	}	
        					   	html2+= '     </button></li>';
	        				   }
	        			   }
	        			 
	                   		html+='</ul>';
	                   		html2+='</ul></div><div align="right"><pre><span id="to_date"  value="'+todo.to_date+'">시작일자: '+todo.from_date+'   종료일자: '+todo.to_date+"</span>";
	                   		if(todo.to_date2 ==null||todo.to_date2==''){
	                   			html2+='<br><div id="change_date" >수정 종료날짜: <select id="to_date2"> <option value="3">+3일</option><option value="5">+5일</option><option value="7">+7일</option></select></div><hr>'	
	                   		}else{
	                   			html2+='<br>수정된 종료일자: '+todo.to_date2+"<br>";
	                   		
	                   		}
	                   		if(writer.email==$("#Login").attr("data")){
	                   			//수정햇던 적이 없으면 마감일 1번수정가눙
	                   			if(todo.to_date2 ==null||todo.to_date2==''){
									html2+='<button type="button" class="btn btn-outline-info" onclick="change_form('+todo.id+')">수정하기</button>'
	                   			}
								html2+='<button type="button" class="btn btn-outline-success" onclick="post_send('+todo.id+')">저장하기</button>'
								html2+='<button type="button" class="btn btn-outline-danger" onclick="delete_send('+todo.id+')">삭제하기</button>'
	                   		}
	                   			html2+='</pre></div>'
	         
	                   		html=html+html2;
							console.log(html);
	                   		$("#detail-body").html(html);
	                   	$("#change_date").hide();
	                   	 document.getElementById("detail").style.display="block";
	                   	 document.getElementById("detail").style.width = "500px";
	             }else{
	                 alert(data.message);
	             }
	        }, error:function(e){
				alert(e)
	        }
	    });

 }
//할일목록에서 체크된거 ---표시하는것
function uncheck(t){
	if(t.attr('class')){
		t.removeClass();
	}else
		t.addClass('checked');
}
//todo삭제기능
function delete_send(id){
   alert("삭제됩니다")
   $.ajax({
         url : '/moimDetail/moimTodoList/delete/'+id, 
         type : "DELETE",   
         processData: false, //데이터를 쿼리 문자열로 변환하는 jQuery 형식 방지
          contentType: false,
          success:function(data){
             if(data.code==1){
                 alert(data.message);
				 location.reload();              
           }else{
              alert(data.message);
           }
          },
          error:function(e){

          }
      });
}


function detail_list(status){
	if(status=='writer,'){
		status+=$("#searchBox").val()+",";
		if($("#searchBox").val()==""){
			alert("검색어를 입력하세요.");
			return;
		}
		if(document.getElementsByClassName("nav-link active")[0].getAttribute("id").indexOf("List")<0){
			status+=document.getElementsByClassName("nav-link active")[0].getAttribute("id");
		}
	}

	$.ajax({
	      url:'/moimDetail/moimTodoList/'+$('#moimNo').attr("data-moimNo")+'/'+encodeURIComponent(status),
	      contentType: "application/json; charset=utf-8",
	        processData: false, //데이터를 쿼리 문자열로 변환하는 jQuery 형식 방지
	        success:function(data){
	        	 if(data.code==1){
	        		 console.log(data)
	        		 console.log(data.todolist)
	        		//var page=data.todolist.page;
	        		var list=data.todolist.content;
	        		var html=""
	        			for(var i in list){
	        				
	        				html+='<tr><td class="align-middle"> <div class="text-inverse"><a href="#"><i class="fa fa-fw fa-lg fa-star-o"></i></a></div></td>';
	        				html+='<td><div><a href="#" onclick="get_detail('+list[i].id+');" ><span>'+list[i].plan_title+'</span></a></div>';
	        				html+='   Edited by:'+list[i].people.name+'<br>'+list[i].from_date+'~'
	        					if(list[i].to_date2==null)
	        						html+=list[i].to_date;
	        					else
	        						html+=list[i].to_date2;
	        				html+='</td>  <td class="align-middle">';
	        				if(list[i].status=='New')
		        				html+=' <span class="badge badge-light badge-pill">New</span>';
		        			else if(list[i].status=='In Progress')
		        				html+=' <span class="badge badge-success badge-pill">In Progress</span>';
		        			else if(list[i].status=='End')
		        				html+=' <span class="badge badge-danger badge-pill">End</span>';
		        			else if(list[i].status=='Suspend')
		        				html+=' <span class="badge badge-danger badge-pill">Suspend</span>';
		        			html+=' <td class="align-middle"> <div class="mb-2 progress" style="height: 5px;">';
		        			html+='<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:'+list[i].progress+'%;"></div>';
                            html+= '</div><div>진행률:'+list[i].progress_done+'/'+list[i].progress_total+'</div></td>';
                            html+='<td class="align-middle">  <div class="avatar-image avatar-image--loaded"> <div class="avatar avatar--md avatar-image__image">'
	        				html+='  <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar1.png"></div> </div>'
	        				html+='  </div></td> </tr> ';
	        			}
	        		if(status.indexOf("writer")<0){
		        		document.getElementsByClassName("nav-link active")[0].setAttribute('class','nav-link');
		        		document.getElementById(status).setAttribute('class','nav-link active');
	        		}
	        		$("#list").html(html);
	        		$("#page").hide();
	        		 
	        	 }else{
	                 alert(data.message);
	             }
	        }, error:function(e){

	        }
	});
}
 

//체크저장기능
function post_send(id) {
	var temp = document.getElementById("myUL").getElementsByTagName("LI");
	var count=document.getElementById("DoneUL").getElementsByTagName("LI");
	var list="";
	var now =new Date();
	//var to=new Date($('#to_date').attr("data"));
	 
// 	 if(now>to){
// 		alert("기한이 지나 수정이 불가능합니다.");
// 		document.getElementById("sendBtn").style.display="none";
// 		return ;
// 	 }	
	

	if(temp.length!=0){
		for (var i in temp) {
			if(temp[i].className=="checked"){
				list+=temp[i].value+",";
			}
		}
	}
	if(list.length==0){
		alert("변경된 사항이 없습니다.")
		return;
	} 
		
	var param={
			list:list,
			count:count.length
	}  
	     $.ajax({
	      url:'/moimDetail/moimTodoList/moimtodostatus/moimtodostatusDetail/'+id,
	        type:'post',
	        data: JSON.stringify(param) ,
	        contentType: "application/json; charset=utf-8",
	        success:function(data){
	        	 if(data.code==1){
	                 location.href='/moimDetail/moimTodoList/'+ $('#moimNo').attr("data-moimNo");
	             }else{
	                 alert(data.message);
	             }
	        }, error:function(e){
	        }
	    });  
	}


function change_form(id){
//종료날짜 수정변경 폼 보여주기
	 if($("#change_date").attr("style")!=''){
	 	$("#change_date").show();
	 }
	 else{
		 //기존 종료일에 추가된 날짜 더하기
		 var date=new Date($("#to_date").attr("value"));
		 date.setDate(date.getDate()+$("#to_date2").val()*1);
		 var toDoWrite={};
		 toDoWrite.to_date2=date;
		 toDoWrite.id=id;
		 $.ajax({
		      url:'/moimDetail/moimTodoList/update_date',
		        type:'post',
		        data: JSON.stringify(toDoWrite) ,
		        contentType: "application/json; charset=utf-8",
		        success:function(data){
		        	 if(data.code==1){
		        		 alert("수정되었습니다.");
		        		 get_detail(id);
		             }else{
		                 alert(data.message);
		             }
		        }, error:function(e){

		        }
		    });
		 
	 }
	 
	 
}

</script>
<script src="/js/moim/moimtodostatusModal.js"></script>
</html>