<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<css th:replace="layout/header::headerCss" />
<div th:replace="layout/header::header" />
<style>


</style>
<script src="/ckeditor/ckeditor.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- include libraries(jQuery, bootstrap) -->
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
<!-- include summernote css/js-->
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
<script>
$(document).ready(function(){
	$('#content').summernote({
		height: 600,
		minHeight: null,
		maxHeight: null,
		focus: true,
		callbacks: {
			onImageUpload: function(files, editor, welEditable) {
				for (let i = files.length - 1; i >= 0; i--) {
					sendFile(files[i], this);
				}
			}
		}
	});

	$('#content').summernote('reset');

	function sendFile(file, el) {
		let form_data = new FormData();
		form_data.append('file', file);
		$.ajax({
			data: form_data,
			type: "POST",
			url: '/community/board/image',
			cache: false,
			contentType: false,
			enctype: 'multipart/form-data',
			processData: false,
			success: function(url) {
				$(el).summernote('editor.insertImage', url);
				$('#imageBoard > ul').append('<li><img src="'+url+'" width="480" height="auto"/></li>');
			}
		});
	}

	$('#write_save_btn').on('click', function () {

		if($('#title').val()==''||$('#title').val()=='undefined'||$('#title').val()==null){
			alert('제목을 입력하세요');
			$('#title').focus();
			return;
		}

		if($($("#content").summernote("code")).text()==''||$($("#content").summernote("code")).text()=='undefined'||$($("#content").summernote("code")).text()==null){
			alert('내용을 입력하세요');
			return;
		}

		let moimBoard = {};

		moimBoard.title = $('#title').val();
		moimBoard.memo= $("#content").summernote("code");
		moimBoard.boardGroup = '[[${boardGroup}]]';
		
		alert(moimBoard.boardGroup );

		/* $.ajax({
			url:'/moimdetailView/moimboard/[[${no}]]/[[${boardGroup}]]/write',
			type:'POST',
			contentType: 'application/json; charset=UTF-8',
			dataType:'json',
			data: JSON.stringify(moimBoard),
			success:function(data){
				if(data.code==1){
					alert(data.message);
					location.href='/moimdetailView/moimboard/[[${no}]]/[[${boardGroup}]]';
				}else{
					alert(data.message);
				}
			},
			error:function(xhr,error){

			}
		}); */
	});

	$('#board_list_btn').on('click', function(){


	});
});

</script>

</head>

<body>

	<article>
		<div class="container1" style="margin:0 auto; max-width:90%">
			<h2>글 작성</h2>
			<!--<form name="form" id="form" role="form" method="post" action="${pageContext.request.contextPath}/board/saveBoard">-->
				<div class="mb-3">
					<label for="title">제목</label>
					<input type="text" class="form-control" name="title" id="title" placeholder="제목을 입력해 주세요">
				</div>
<!--				<div class="mb-3">-->
<!--					<label for="writer_name">작성자</label>-->
<!--					<input type="text" class="form-control" name="writer_name" id="writer_name" placeholder="이름을 입력해 주세요" readonly="true">-->
<!--				</div>-->
				<div class="mb-3">
					<label for="content">내용</label>
					<textarea class="form-control" rows="20" name="content" id="content" placeholder="내용을 입력해 주세요" >
					</textarea>
				</div>
<!--				<div class="mb-3">-->
<!--					<label for="tag">TAG</label>-->
<!--					<input type="text" class="form-control" name="tag" id="tag" placeholder="태그를 입력해 주세요">-->
<!--				</div>-->
			<!--</form>-->
			<div >
				<button type="button" class="btn btn-sm btn-primary" id="write_save_btn">저장</button>
				<a th:href="@{'/community/board/'+${boardGroup}+'?page='+${page}}">
					<button type="button" class="btn btn-sm btn-primary" id="board_list_btn">목록</button>
				</a>
			</div>
		</div>
	</article>
</body>
</html>