`<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/moim/moimChatroom.css}" rel="stylesheet" />
<css th:replace="layout/header::headerCss" />
</head>
<body>
	<div th:replace="layout/header::header" />

	<link
		href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
		rel="stylesheet">
	<div class="container">
<div id="peopleId" th:data-peopleId="${session.peopleId}"></div>
<div id="email" th:data-email="${session.peopleEmail}"></div>
<div id="moimNo" th:data-moimNo="${no}"></div>
		<!-- Page header start -->
		<div class="page-title">
			<div class="row gutters">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
					<h5 class="title">&nbsp;&nbsp;</h5>
						
				</div>
				<!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
					<div class="daterange-container">
						<div class="date-range">
							<div id="reportrange">
								<i class="fa fa-calendar cal"></i> <span class="range-text">Jun
									11, 2019 - Jul 10, 2019</span> <i class="fa fa-chevron-down arrow"></i>
							</div>
						</div>
						<a href="#" data-toggle="tooltip" data-placement="top" title=""
							class="download-reports" data-original-title="Download CSV">
							<i class="fa fa-download"></i>
						</a>
					</div>
				</div> -->
			</div>
		</div>
		<!-- Page header end -->

		<!-- Content wrapper start -->
		<div class="content-wrapper">

			<!-- Row start -->
			<div class="row gutters">

				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

					<div class="card m-0">

						<!-- Row start -->
								<div class="selected-user">
									<span> (모임이름) <span class="name"> 대화방 </span></span>
								</div>
								<div class="chat-container" id="chat-container">
									<ul class="chat-box chatContainerScroll">
									<tr th:each="moimchatList : ${moimchatList}">
										<span th:if="${session.peopleId}!=${moimchatList.people.id}">
											<li class="chat-left">
												<div class="chat-avatar">
													<img th:src="${moimchatList.people.imageName!=null} ? ${'/getMoimImage/'+moimchatList.people.imageName+'.'+moimchatList.people.imageExtension} : '/images/default_people.png'" alt="Retail Admin">
													<div class="chat-name" th:text="${moimchatList.people.email}"></div>
												</div>
												<div class="chat-text" th:text="${moimchatList.chatMemo}" id="chatList"></div>
												
												<div class="chat-hour" th:text="${#strings.substring(moimchatList.createDate,0, 19)}" />
											</li>
										</span>
										<span th:if="${session.peopleId}==${moimchatList.people.id}">
											<!-- <li class="chat-right">
												<div class="chat-hour">
													08:56
													<span class="fa fa-check-circle"></span>
												</div>
												
												<div class="chat-avatar">
													<img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
													<div class="chat-name" th:text="${moimchatList.people.email}"></div>
												</div>
											</li> -->
											
											<li class="chat-right">
												<div class="chat-hour">
													<div class="chat-hour" th:text="${#strings.substring(moimchatList.createDate,0, 19)}" />
												</div>
												<div class="chat-text" th:text="${moimchatList.chatMemo}" id="chatList"></div>
												<div class="chat-avatar">
														<img th:src="${moimchatList.people.imageName!=null} ? ${'/getMoimImage/'+moimchatList.people.imageName+'.'+moimchatList.people.imageExtension} : '/images/default_people.png'"
															alt="Retail Admin">
													<div class="chat-name" th:text="${moimchatList.people.email}"></div>
												</div>
											</li>
										</span>
									</tr>							
									</ul>
									<div class="form-group mt-3 mb-0">
										<textarea class="form-control" rows="3" id="inputmsg"  onkeyup="enterkey()"></textarea>   
										<button class="sendButton"><i class="fa fa-paper-plane-o" id = "btnSend"></i></button>
									</div>
								</div>
						<!-- Row end -->
					</div>

				</div>

			</div>
			<!-- Row end -->

		</div>
		<!-- Content wrapper end -->

	</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.3.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script>
 $(document).ready(function(){
	connectStomp();
	downFocus();
	
	
	$('.sendButton').on('click',function(evt){
		evt.preventDefault();
		//textarea 값이 없을 땐 return;
		//if()
		
		if(!isStomp && socket.readyState!==1) return;
		let peopleId=$('#peopleId').attr("data-peopleId");
		let msg=$('#inputmsg').val();
		let moimNo=$('#moimNo').attr("data-moimNo");
		let peopleEmail=$('#email').attr("data-email");
		console.log("mmmmmmmmmmmmm>>",msg)
		if(isStomp){
			socket.send('/moimchat',{},JSON.stringify({ peopleId: peopleId, msg: msg,moimNo: moimNo,peopleEmail: peopleEmail}));
		}else{
			socket.send(msg);
		}
		$('#inputmsg').val('');
	})
	
})
var socket=null;
var isStomp=false;
function connectStomp() {
	var sock = new SockJS("/stompTest"); // endpoint
    var client = Stomp.over(sock);
	isStomp = true;
	socket = client;
    
    client.connect({}, function () {
        console.log("Connected stompTest!");
        // Controller's MessageMapping, header, message(자유형식)

       /*  // 해당 토픽을 구독한다!
        client.subscribe('/topic/message', function (event) {
            console.log("!!!!!!!!!!!!event>>", event);
            console.log("!!!!!!!!!!!!event>>", event.body.msg)
        }); */
        // 해당 토픽을 구독한다!
        client.subscribe('/topic/message', onMessageReceived);
        
    });

}

function onMessageReceived(payload) {
	var message = JSON.parse(payload.body);
	console.log('ㅎㅎㅎㅎㅎㅎㅎ')
	//console.log(message.peopleId)
	
	
	/* var messageElement = document.createElement('li');

	
	messageElement.classList.add('message-data');

	var element = document.createElement('i');
	//var text = document.createTextNode(message.sender[0]);
	//element.appendChild(text);

	messageElement.appendChild(element);

	var usernameElement = document.createElement('span');
	var usernameText = document.createTextNode(message.msg);
	usernameElement.appendChild(usernameText);
	messageElement.appendChild(usernameElement);
	

	var textElement = document.createElement('p');
	var messageText = document.createTextNode(message.content);
	textElement.appendChild(messageText);

	messageElement.appendChild(textElement);  */
	console.log("1" + $('#peopleId').attr("data-peopleId"));
	console.log("2" + message);
	if($('#peopleId').attr("data-peopleId")==message.peopleId){
		$('.chat-box').append('<li class="chat-right"></div><div class="chat-text">'+message.msg+'</div><div class="chat-avatar"><img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin"><div class="chat-name">'+message.peopleEmail+'</div></div></li>');
	}else{
		$('.chat-box').append('<li class="chat-left"><div class="chat-avatar"><img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin"><div class="chat-name">'+message.peopleEmail+'</div></div><div class="chat-text" id="chatList">'+message.msg+'</div><div class="chat-hour">2019-10-04 00:00:00.0</div></li>');
	}
	
	
	//document.querySelector('#chatList').appendChild(messageElement);
	//document.querySelector('#chatList').scrollTop = document.querySelector('#chatList').scrollHeight;
	downFocus();

}


function enterkey() {
	
	//ctrl + enter 눌렸을 때 실행할 내용
	if (window.event.ctrlKey && window.event.keyCode == 13) {
		
		
		  $('#inputmsg').val('\n');
		  return false;
	// enter 눌렸을 때 실행할 내용
	}else if (window.event.keyCode == 13) {
         $('#btnSend').click();
         return false;
    }
}


function downFocus() {
	//alert(33);
	$('.chatContainerScroll').scrollTop($('.chatContainerScroll').prop('scrollHeight'));
	//$(".chatContainerScroll").scrollTop($(".chatContainerScroll")[0].scrollHeight);

}

</script>


</html>