<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <css th:replace="layout/header::headerCss"/>
</head>
<body onload="initMoimMake();">
<div th:replace="layout/header::header"/>
<div class="site-wrap">
    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>




    <div class="site-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-7 mb-5">

                    <form id="moim_make_from" class="p-5 bg-white">

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-black">계획 제목 </label> <input
                                    type="text" name="title" id="title" placeholder="모임이름을 입력하세요" class="form-control">
                            </div>

                        </div>
                        <div class="row form-group">
                            <div class="col-md-6">
                                <label class="text-black">계획 목표량(테이블그리드 갯수대로최고로 잡기??일단 보류)</label> <input
                                    type="text" name="peopleLimit" id="peopleLimit" class="form-control"
                                    placeholder="2~999 입력">
                            </div>
                        </div>
						시작일=<input type="text" name="date" id="from_date" size="12" />달력넣기
						종료일=<input type="text" name="date" id="to_date" size="12" />
                       

                    <h1>일정계획 세우기</h1>

					<div class="container">
					    <div class="row">
					      <div class="table-responsive">
					        <table class="table table-hover">
					          <thead>
					            <tr>
					              <th>순번</th>
					              <th>해야할일</th>
					            </tr>
					          </thead>
					          <tbody id="myTable">
					            <tr>
					              <td>1</td>
					              <td>Table cell</td>
					              <td>(x) 생기게하기(한 행 빼는것)</td>
					            </tr>
					            <tr>
					              <td>2</td>
					              <td>Table cell</td>
					            </tr>
					            <tr>
					              <td>3</td>
					              <td>Table cell</td>
					            </tr>
					            <tr>
					              <td>4</td>
					              <td>Table cell</td>
					            </tr>
					          
					          </tbody>
					        </table>   
					        <button>게획 추가(누르면 그리드 갯수 늘림)</button>
					      </div>
					      <div class="col-md-12 text-center">
					      <ul class="pagination pagination-lg pager" id="myPager"></ul>
					      </div>
						</div>
					</div>					      
					      
					      
					      

                        <div id="moimMake_btn" class="row form-group">
                            <div class="col-md-12">
                                <div class="btn btn-primary py-2 px-4 text-white">일정계획 작성</div>
                            </div>
                        </div>

                    </form>
                </div>


            </div>
        </div>
    </div>


    <div class="site-footer">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-4">
                    <h3 class="footer-heading mb-4">About Us</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Placeat reprehenderit magnam deleniti quasi saepe, consequatur
                        atque sequi delectus dolore veritatis obcaecati quae, repellat
                        eveniet omnis, voluptatem in. Soluta, eligendi, architecto.</p>
                </div>
                <div class="col-md-3 ml-auto">
                    <!-- <h3 class="footer-heading mb-4">Navigation</h3> -->
                    <ul class="list-unstyled float-left mr-5">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Advertise</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Subscribes</a></li>
                    </ul>
                    <ul class="list-unstyled float-left">
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Sports</a></li>
                        <li><a href="#">Nature</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <script src="/js/moim/moimMake.js"></script>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>