<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <css th:replace="layout/header::headerCss"/>
    <link th:href="@{/css/moim/moimpictureList.css}" rel="stylesheet" />
</head>
<body>
    <div th:replace="layout/header::header"></div>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <div class="container">
        <div class="row" style="width: 75%; float: left;">
            <!-- begin col-9 -->
            <div layout:fragment="content">
                <div class="panel-body">
                    <div class="col-md-9">
                        <!-- begin gallery-list -->
                        <ul class="gallery-list" th:with="result = ${resultList}">
                            <li th:each="board:${result}">
                                <div class="image-container">
                                    <div class="image">
                                   <!-- <img
									th:src="${board.moimboardfile[0].real_name!=null} ? ${'/getMoimImage/'+board.moimboardfile[0].real_name} : '/images/img_4.jpg'"
										> -->
                                        <!-- <img th:src="@{${board.moimboardfile[0].file_locate}}" alt="">  -->
                                        
                                    </div>
                                    <div class="info">
                                        <h5>[[${board.title}]]</h5>
                                        <small class="text-muted">[[${board.create_date}]]</small>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- end gallery-list -->
                    </div>
                </div>
            </div>
        </div>


        <!-- end col-9 -->
        <!-- begin col-3 -->
        <div class="col-md-3" style="width: 25%;">
            <!-- begin panel -->
            <div class="panel p-20">
                <h5 class="m-t-0">Search Images</h5>
                <form class="form-input-flat">
                    <div class="input-group m-b-15">
                        <input type="text" class="form-control" placeholder="Enter keywords...">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
                <div class="horizontal-divider m-0 m-b-15"></div>
                <h5 class="m-t-0">Filter By Category</h5>
                <form class="form-input-flat">
                    <div class="form-group m-b-15">
                        <select class="form-control">
                            <option value="">All Category</option>
                            <option value="">Nature</option>
                            <option value="">Car</option>
                            <option value="">People</option>
                            <option value="">Food</option>
                        </select>
                    </div>
                </form>
                <div class="horizontal-divider m-0 m-b-15"></div>
                <h5 class="m-t-0">Tags</h5>
                <ul class="tag-list m-b-10">
                    <li><a href="#">Forest</a></li>
                    <li><a href="#">Animals</a></li>
                    <li><a href="#">People</a></li>
                    <li><a href="#">Technology</a></li>
                    <li><a href="#">iPhone</a></li>
                    <li><a href="#">Food</a></li>
                    <li><a href="#">Media</a></li>
                    <li><a href="#">Building</a></li>
                    <li><a href="#">Camera</a></li>
                    <li><a href="#">Insect</a></li>
                    <li><a href="#">Food &amp; Drink</a></li>
                    <li><a href="#">Nature</a></li>
                    <li><a href="#">Objects</a></li>
                    <li><a href="#">Car</a></li>
                </ul>
                <div class="horizontal-divider m-0 m-b-15"></div>
                <div class="text-center">
                    <a th:href="@{'/moimDetail/' + ${no}+'/moimPicture/moimPictureWrite'}"
                        class="btn btn-rounded btn-default btn-sm">
                        <i class="fa fa-plus"></i> Upload New Images(화면구축완료)</a>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-3 -->
    </div>
    <script src="/js/moim/moimPicture.js"></script>
</body>
</html>