<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <css th:replace="layout/header::headerCss"/>
    <link th:href="@{/css/moim/moimtodostatusModal.css}" rel="stylesheet" />
    <link th:href="@{/css/moim/moimtodostatusDetailtask.css}" rel="stylesheet" />
    <css th:replace="layout/header::moimDetailsubmenu" />
    <link th:href="@{/css/moim/moimtodostatusDetail.css}" rel="stylesheet" /><!--할일목록체크박스리스트  -->
<div th:replace="moim/moimDetailsubmenu::moimDetailsubmenu" />
</head>
<body>

<div th:replace="layout/header::header"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="card-box task-detail">
                    <div class="media mt-0 m-b-30"><img class="d-flex mr-3 rounded-circle" alt="64x64" src="https://bootdey.com/img/Content/avatar/avatar2.png" style="width: 48px; height: 48px;">
                        <div class="media-body">
                            <h5 class="media-heading mb-0 mt-0">작성자</h5><span class="badge badge-danger" th:text=${todo.people.name}></span></div>
                    </div>
                    <div id="moimNo" th:data-moimNo="${todo.moim.id}"></div><!-- 모임번호 -->
                    <div id="todoNo" th:data-todoNo="${todo.id}"></div><!-- 모임번호 -->
                    <h2 class="m-b-20">게획 제목</h4>
                    <h4 class="m-b-20">계획내용</h4>
                  
                     <ul id="myUL">
               <li th:each="l:${list}" th:if="${l.checkConfirm}=='N'" th:value="${l.id}"> <span th:text="${l.plan_list}"></span>
                    <button type="button" id="myBtn"  aria-haspopup="true" aria-expanded="false" class="dropdown-toggle btn btn-link">
                    <i class="fa fa-search" >
                    </i>
                    </button></li>
               
               </ul>
                  <ul id="DoneUL">
                  <li th:each="l:${list}" th:if="${l.checkConfirm}=='Y'" class="checked">
                   <span th:text="${l.plan_list}" ></span>
                  </li>
                  </ul>
                    <ul class="list-inline task-dates m-b-0 mt-5">
                        <li>
                            <h5 class="m-b-5">시작 일자</h5>
                            <p th:text="${todo.from_date}"></p>
                        </li>
                        <li>
                            <h5 class="m-b-5">종료 일자</h5>
                            <p th:text="${todo.to_date}"></p>
                        </li>
                    </ul>
                    <div class="attached-files mt-4">
                        <h5 class="">Attached Files</h5>
                        <div class="files-list">
                            <div class="file-box">
                                <a href=""><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-responsive img-thumbnail" alt="attached-img"></a>
                                <p class="font-13 mb-1 text-muted"><small>File one</small></p>
                            </div>
                            <div class="file-box">
                                <a href=""><img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="img-responsive img-thumbnail" alt="attached-img"></a>
                                <p class="font-13 mb-1 text-muted"><small>Attached-2</small></p>
                            </div>
                            <div class="file-box">
                                <a href=""><img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="img-responsive img-thumbnail" alt="attached-img"></a>
                                <p class="font-13 mb-1 text-muted"><small>Dribbble shot</small></p>
                            </div>
                            <div class="file-box ml-3"><a href="#"><span class="add-new-plus"><i class="fa fa-plus"></i></span></a></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="text-right mt-4">
                                <span th:if="${todo.people.email eq session.peopleEmail}">
                                    <button type="button" class="btn btn-success waves-effect waves-light" onclick="post_send();">완료하기</button>
                                    <button type="button" class="btn btn-danger waves-effect waves-light" onclick="delete_send();">삭제하기</button>
                                   
                                 </span>   
                                    <a th:href="@{'/moimDetail/moimTodoList/moimtodostatus/'+${todo.moim.id}}">
                                       <button type="button" class="btn btn-light waves-effect">목록으로 가기</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4">
                <div class="card-box">
                    <h4 class="header-title m-b-30">댓글 (5)</h4>
                    <div>
                        <div class="media m-b-20">
                            <div class="d-flex mr-3">
                                <a href="#"><img class="media-object rounded-circle thumb-sm" alt="64x64" src="https://bootdey.com/img/Content/avatar/avatar1.png"></a>
                            </div>
                            <div class="media-body">
                                <h5 class="mt-0">Maxine Kennedy</h5>
                                <p class="font-13 text-muted mb-0"><a href="" class="text-dark">@Michael</a> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio.</p><a href="" class="text-success font-13">Reply</a></div>
                        </div>
                        <div class="media m-b-20">
                            <div class="d-flex mr-3">
                                <a href="#"><img class="media-object rounded-circle thumb-sm" alt="64x64" src="https://bootdey.com/img/Content/avatar/avatar2.png"></a>
                            </div>
                            <div class="media-body">
                                <h5 class="mt-0">Doyle Bell</h5>
                                <p class="font-13 text-muted mb-0"><a href="" class="text-dark">@Michael</a> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio.</p><a href="" class="text-success font-13">Reply</a>
                                <div class="media m-t-20 m-b-20">
                                    <div class="d-flex mr-3">
                                        <a href="#"><img class="media-object rounded-circle thumb-sm" alt="64x64" src="https://bootdey.com/img/Content/avatar/avatar3.png"></a>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0">Elena Vancamp</h5>
                                        <p class="font-13 text-muted mb-0"><a href="" class="text-dark">@Doyle</a> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio.</p><a href="" class="text-success font-13">Reply</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="media m-b-20">
                            <div class="d-flex mr-3">
                                <a href="#"><img class="media-object rounded-circle thumb-sm" alt="64x64" src="https://bootdey.com/img/Content/avatar/avatar1.png"></a>
                            </div>
                            <div class="media-body">
                                <h5 class="mt-0">Maxine Kennedy</h5>
                                <p class="font-13 text-muted mb-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio.</p><a href="" class="text-success font-13">Reply</a></div>
                        </div>
                        <div class="media m-b-20">
                            <div class="d-flex mr-3">
                                <a href="#"><img class="media-object rounded-circle thumb-sm" alt="64x64" src="https://bootdey.com/img/Content/avatar/avatar5.png"></a>
                            </div>
                            <div class="media-body">
                                <h5 class="mt-0">Erick Loper</h5>
                                <p class="font-13 text-muted mb-0"><a href="" class="text-dark">@Maxine</a> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio.</p><a href="" class="text-success font-13">Reply</a></div>
                        </div>
                        <div class="media m-b-20">
                            <div class="d-flex mr-3">
                                <a href="#"><img class="media-object rounded-circle thumb-sm" alt="64x64" src="https://bootdey.com/img/Content/avatar/avatar1.png"></a>
                            </div>
                            <div class="media-body">
                                <input type="text" class="form-control input-sm" placeholder="Some text value...">
                                <div class="mt-2 text-right">
                                    <button type="submit" class="btn btn-sm btn-custom waves-effect waves-light">Send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
        
        
    </div>
    <!-- container -->
    
   
<div th:replace="moim/moimtodostatusModal::moimtodostatusModal" />
<script>
//할일목록에서 체크된거 ---표시하는것
var list = document.querySelector('#myUL');
list.addEventListener('click', function(ev) {
  if (ev.target.tagName === 'LI') {
    ev.target.classList.toggle('checked');
  }
}, false);
//todo삭제기능
function delete_send(){
   alert("")
    var moimNo = $('#moimNo').attr("data-moimNo");
    var todoNo = $('#todoNo').attr("data-todoNo");
   
   $.ajax({
         url : '/moimDetail/moimTodoList/delete/'+todoNo, 
         type : "DELETE",   
         processData: false, //데이터를 쿼리 문자열로 변환하는 jQuery 형식 방지
          contentType: false,
          success:function(data){
             if(data.code==1){
                 alert(data.message);
                 location.href='/moimDetail/moimTodoList/'+moimNo;
           }else{
              alert(data.message);
           }
          },
          error:function(e){

          }
      });
}

</script>
 <script src="/js/moim/moimtodostatusModal.js"></script>

</body>
</html>