<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<css th:replace="layout/header::headerCss" />
<div th:replace="layout/header::header" />
<link th:href="@{/css/moim/moimDetail.css}" rel="stylesheet" />
<style>
.add-new-plus {
   height: 32px;
   text-align: center;
   width: 32px;
   line-height: 32px;
   color: #98a6ad;
   font-weight: 700;
   background-color: #e3eaef;
   border-radius: 50%
}
/* Tab list start */
body {
   font-family: Arial;
}
/* Style the tab */
.tab {
   overflow: hidden;
   border: 1px solid #ccc;
   background-color: #f1f1f1;
}
/* Style the buttons inside the tab */
.tab button {
   background-color: inherit;
   float: left;
   border: none;
   outline: none;
   cursor: pointer;
   padding: 14px 16px;
   transition: 0.3s;
   font-size: 17px;
}
/* Change background color of buttons on hover */
.tab button:hover {
   background-color: #ddd;
}
/* Create an active/current tablink class */
.tab button.active {
   background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
   display: none;
   padding: 6px 12px;
   border: 1px solid #ccc;
   border-top: none;
}
/*참여자보기 모달 시작 */
body {
   font-family: Arial, Helvetica, sans-serif;
}
/* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   padding-top: 100px; /* Location of the box */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0, 0, 0); /* Fallback color */
   background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
   background-color: #fefefe;
   margin: auto;
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
}
/* The Close Button */
.close {
   color: #aaaaaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}
.close:hover, .close:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
}
/*참여자 보기 모달 끝*/
/*모임가입자 시작 */
body {
   font-family: 'Lato', sans-serif;
}
.overlay {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: rgb(255, 255, 255);
   background-color: rgb(255, 255, 255);
   overflow-x: hidden;
   transition: 0.5s;
}
.overlay-content {
   position: relative;
   top: 5%;
   width: 100%;
   text-align: center;
   margin-top: 30px;
}
.overlay a {
   padding: 8px;
   text-decoration: none;
   font-size: 36px;
   color: #818181;
   display: block;
   transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
   color: #f1f1f1;
}
.overlay .closebtn {
   position: absolute;
   top: 20px;
   right: 45px;
   font-size: 60px;
}
@media screen and (max-height: 450px) {
   .overlay a {
      font-size: 20px
   }
   .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
   }
}
/*모임가입자 스타일 끝 */
</style>
</head>
<body>
<body onload="myPeopleCount()"><!-- 인원수 세는것 by choiseongjun -->
   <div id="moimNo" th:data-moimNo="${moimDetail.id}"></div><!-- 모임번호 -->
   <div id="moimPeopleNo" th:data-moimPeopleNo="${moimPeopleNo}"></div><!-- 모임피플테이블번호 -->
     <div id="joinCondition" th:data-joinCondition="${moimDetail.joinCondition}"></div><!-- 모임가입승인조건 유무 -->
    
   <link rel="stylesheet" href="/css/friendList.css">
   <div class="content">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <!-- meta -->
               <div class="profile-user-box card-box bg-custom">
                  <div class="row">
                     <div class="col-sm-6">
                        <span class="float-left mr-3"><img
                           src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""
                           class="thumb-lg rounded-circle"></span>
                        <div class="media-body text-white">
                           <h4 class="mt-1 mb-1 font-18">
                              <td th:text="${moimDetail.title}" />
                           </h4>
                           <p class="text-light mb-0">회원 수:<td th:text="${totalPeople}" /> 회원제한수:<td
                              th:text="${moimDetail.peopleLimit}" /> </p>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="text-right">
                           <span th:if="${session.peopleId==moimDetail.people.id}">
                              <button type="button" id="moim_offMoim_btn"
                                 class="btn btn-icon btn-sm waves-effect waves-light btn-success" >오프라인모임만들기</button>
                              <a th:href="@{'/moimUpdateView/' + ${no}}"><button type="button"
                                 class="btn btn-icon btn-sm waves-effect waves-light btn-success">
                                    모임수정하기</button></a>
                              <button type="button" id="moim_delete_btn"
                                 class="btn btn-icon btn-sm waves-effect waves-light btn-success">모임삭제하기</button>
                                 
                           </span>
                        </div>
                     </div>
                  </div>
               </div>
               <!--/ meta -->
            </div>
         </div>
         <!-- end row -->
         <div class="row">
            <div class="col-xl-4">
               <!-- Personal-Information -->
               <div class="card-box">
                  <h4 class="header-title mt-0">우리 모임 소개</h4>
                  <!--                   <span th:if="${joinedpeople}==null">
                     <td th:text="${joinedpeople}" ></td>
                  </span> -->
                  <div class="panel-body">
                     <p class="text-muted font-13">
                     <td th:text="${moimDetail.intro}" />
                     </p>
                    
                     <tr th:each="joinedpeoplelist : ${joinedpeoplelist}">
                           <span th:if="${joinedpeoplelist.joinCondition}=='N'">   
                           	 <span th:if="${joinedpeople}!=null">   
		                        <span th:if="${!(session.peopleId==moimDetail.people.id)}">
		                           <button type="button" id="withdraw_btn"
		                              class="btn btn-primary btn-xs">스터디 승인대기중...</button>
		                        </span>
		                      </span>
                           </span>
                           <span th:if="${joinedpeoplelist.joinCondition}=='Y'">   
		                     <span th:if="${joinedpeople}!=null">   
		                        <span th:if="${!(session.peopleId==moimDetail.people.id)}">
		                           <button type="button" id="withdraw_btn"
		                              class="btn btn-primary btn-xs">스터디 탈퇴하기</button>
		                        </span>
		                      </span>
		                    </span>
		                     
                       </tr>
                       <!--  <td th:text="${moimDetail.joinCondition}" /> -->    
                      <span th:if="${moimDetail.joinCondition}=='N'">   <!-- 누구나 가입하는 경우  by choinseognjun 2019-10-07-->
	                       <span th:if="${joinedpeople}==null">   
	                        <span
	                           th:if="${!(session.peopleId==moimDetail.people.id) &&!(totalPeople>=moimDetail.peopleLimit) }"><!-- 토탈인원보다 작으면 가입 불가능하고 모임장이면서 가입되지 않은 회원 By choiseongjun -->
	                           <!-- 미가입자와 운영자가 아닌경우 -->
	                           <button type="button" id="signup_btn"
	                              class="btn btn-primary btn-xs">스터디 가입하기</button>
	                        </span> 
	                     </span>
                      </span>
                       <span th:if="${moimDetail.joinCondition}=='Y'">    <!-- 가입 승인조건을 받아야 하는  경우 -->
                      	 <span th:if="${joinedpeople}==null">   
	                        <span
	                           th:if="${!(session.peopleId==moimDetail.people.id) &&!(totalPeople>=moimDetail.peopleLimit) }"><!-- 토탈인원보다 작으면 가입 불가능하고 모임장이면서 가입되지 않은 회원 By choiseongjun -->
	                           <!-- 미가입자와 운영자가 아닌경우 -->
	                       
	                           <button type="button" id="signup_btnY"
	                              class="btn btn-primary btn-xs">스터디 가입하기</button>
	                        </span> 
	                     </span>
                      </span>
                    
                     <hr>
                     <div class="text-left">
                        <p class="text-muted font-13">
                           <strong>모임이름 :</strong> <span class="m-l-15">Johnathan
                              Deo</span>
                        </p>
             
                        <p class="text-muted font-13">
                           <strong>모임장 :</strong><span class="m-l-15"><td
                              th:text="${moimDetail.people.name}" /> </span>
                        </p>
                        <p class="text-muted font-13">
                           <strong>모임주제 :</strong> <span class="m-l-15"><td
                              th:text="${moimDetail.category.commName}" /></span></span>
                        </p>
                        <p class="text-muted font-13">
                           <strong>지역 :</strong> <span class="m-l-5"><span
                              class="flag-icon flag-icon-us m-r-5 m-t-0" title="us"></span>
                              <span>서울시</span> </span><span class="m-l-5"><span
                              class="flag-icon flag-icon-de m-r-5" title="de"></span> <span>동작구</span>
                           </span><span class="m-l-5"><span
                              class="flag-icon flag-icon-es m-r-5" title="es"></span> <span>노량진</span>
                           </span>
                        </p>
                        <p class="text-muted font-13">
                           <strong>모임 생성일자 :</strong> <span class="m-l-15"><td
                              th:text="${moimDetail.createDate}" /></span>
                        </p>

                     </div>
                     <ul class="social-links list-inline mt-4 mb-0">
                        <li class="list-inline-item"><a title=""
                           data-placement="top" data-toggle="tooltip" class="tooltips"
                           href="" data-original-title="Facebook"><i
                              class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a title=""
                           data-placement="top" data-toggle="tooltip" class="tooltips"
                           href="" data-original-title="Twitter"><i
                              class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a title=""
                           data-placement="top" data-toggle="tooltip" class="tooltips"
                           href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                     </ul>
                  </div>
               </div>
               <!-- Personal-Information -->
               <div class="card-box ribbon-box">

                  <div class="clearfix">
                     <button type="button" class="btn btn-info">모임원</button>
                  </div>
                  <!-- 운영자 랜더링 by choiseongjun -->
                  <div class="inbox-widget">
                     <div class="inbox-item">
                        <div class="inbox-item-img">
                           	<img
									th:src="${moimDetail!=null} ? ${'/getMoimImage/'+moimDetail.people.imageName+'.'+moimDetail.people.imageExtension} : '/images/default_people.png'"
									class="rounded-circle" alt="">
                        </div>
                        <p class="inbox-item-author">
                           <td th:text="${moimDetail.people.name}" />
                           <button
                              class="btn btn-icon btn-sm waves-effect waves-light btn-success">스터디장</button>
                        </p>
                        <p class="inbox-item-date"></p>
                     </div>
                     <!-- 운영자 랜더링 End by choiseongjun -->
                     <tr th:each="joinedmoimpeopleList : ${joinedmoimpeopleList}">
                     
                        <a href="#">	
                           <div class="inbox-item" >
                              <div class="inbox-item-img">
					        <img th:src="${joinedmoimpeopleList.people.imageName!=null} ?${'/getMoimImage/'+joinedmoimpeopleList.people.imageName+'.'+joinedmoimpeopleList.people.imageExtension} : '/images/default_people.png'"
								class="rounded-circle" alt=""
								> 
                        
                              </div>
                              
                              <p class="inbox-item-author"> 
                                 
                                 <td th:text="${joinedmoimpeopleList.people.name}"/>
                              <span th:if="${session.peopleId==moimDetail.people.id}">
	                               <span th:if="${joinedmoimpeopleList.joinCondition}=='N'">
											<button type="button" name="grantpeople_btn"  th:value="${joinedmoimpeopleList.people.id}"
		                                       class="btn btn-icon btn-sm waves-effect waves-light btn-success">가입승인하기</button>
		                            </span>
                                    <button type="button"
                                       class="btn btn-icon btn-sm waves-effect waves-light btn-success">운영진주기</button>
                                    
                                    <button type="button"  name="banpeople_btn"  th:value="${joinedmoimpeopleList.people.id}"
                                       class="btn btn-icon btn-sm waves-effect waves-light btn-danger">강퇴하기</button>
                                 </span>
                              </p>
                           
                              <p class="inbox-item-date">
                              
                              </p>
                           </div>

                        </a>
                     </tr>
                     <center>

                        <span style="font-size: 30px; cursor: pointer"
                           onclick="openNav()"> ☰ 더 보기</span>
                     </center>
                  </div>
               </div>
            </div>
            <div class="col-xl-8">
               <div class="row">
                  <div class="col-sm-4">
                     <div class="card-box tilebox-one">
                        <i class="icon-layers float-right text-muted"></i> <a
                           th:href="@{'/moimDetail/moimTodoList/' + ${no}}">
                           <h6 class="text-muted text-uppercase mt-0">모임 일정관리보기</h6>
                        </a>
                        <h3 class="" data-plugin="counterup">
                           <span th:text=${todoCount}></span>개의 일정
                           </h2>
                     </div>
                  </div>
                  <!-- end col -->
                  <div class="col-sm-4">
                     <div class="card-box tilebox-one">
                        <i class="icon-paypal float-right text-muted"></i> <a
                           th:href="@{'/moimDetail/' + ${no}+'/moimPicture'}">
                           <h6 class="text-muted text-uppercase mt-0">사진첩보기</h6>
                        </a>
                        <h3 class="">
                           <span data-plugin="counterup">46,782장</span>
                        </h3>

                     </div>
                  </div>
                  <!-- end col -->
                  <div class="col-sm-4">
                     <div class="card-box tilebox-one">
                        <i class="icon-rocket float-right text-muted"></i> <a
                           th:href="@{'/moimDetail/moimChatroom/' + ${no}}"><h6
                              class="text-muted text-uppercase mt-0">단체채팅방 들어가기</h6></a>
                        <h3 class="" data-plugin="counterup">
                          <td th:text="${totalPeople}" />(명) <span class="badge badge-info">4</span>
                     </div>
                  </div>
                  <!-- end col -->
               </div>
               <!-- end row -->
               <div class="card-box">
                  <h4 class="header-title mt-0 mb-3">
                     오프라인모임활동
                     <td th:text="${no}"></td>
                  </h4>
                  <div class="">
                     <div class="">
                        <h5 class="text-custom">자바 및 스프링 스터디</h5>
                        <p class="mb-0">강남 스터디하자카페 (주소:서울시 강남대로 28)</p>
                        <p>
                           <b>2019-09-10-19:20</b>
                        </p>
                        <button type="button" class="btn btn-primary btn-xs">참여
                           하기</button>
                        <br />
                        <button id="myBtn" class="btn btn-info btn-xs">참여자 보기</button>
                     </div>
                     <hr>
                     <div class="">
                        <h5 class="text-custom">Senior Graphic Designer</h5>
                        <p class="mb-0">coderthemes.com</p>
                        <p>
                           <b>2007-2009</b>
                        <p class="text-muted font-13 mb-0">Lorem Ipsum is simply
                           dummy text of the printing and typesetting industry. Lorem
                           Ipsum has been the industry's standard dummy text ever since
                           the 1500s, when an unknown printer took a galley of type and
                           scrambled it to make a type specimen book.</p>
                     </div>
                  </div>
               </div>


               <!-- Tab list start-->
               <div class="tab">
                  <button class="tablinks" onclick="openCity(event, 'London')">공지사항게시판</button>
                  <button class="tablinks" onclick="openCity(event, 'Paris')">가입인사및
                     자기소개 게시판</button>
                  <button class="tablinks" onclick="openCity(event, 'Tokyo')">자유게시판</button>
               </div>

               <div id="London" class="tabcontent">
                  <div class="card-box">
                     <h4 class="header-title mb-3">
                        공지사항!
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button"
                           class="btn btn-icon btn-sm waves-effect waves-light btn-success">
                           <a th:href="@{'/moimdetailView/moimboard/' + ${no}}"> 더 보기</a>
                        </button>
                     </h4>
                     <div class="table-responsive">
                        <table class="table">
                           <thead>
                              <tr>
                                 <th>순번</th>
                                 <th>제목</th>
                                 <th>글쓴이</th>
                                 <th>유형</th>
                                 <th>글쓴 날짜</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <td>1</td>
                                 <td><span class="label label-info">우리모임 규칙</span></td>
                                 <td><span class="label label-info">모임장</span></td>
                                 <td><span class="label label-info">공지사항</span></td>
                                 <td>07/05/2015</td>
                              </tr>
                              <tr>
                                 <td>2</td>
                                 <td><span class="label label-info">일정관리 규칙</span></td>
                                 <td><span class="label label-info">모임장</span></td>
                                 <td><span class="label label-info">공지사항</span></td>
                                 <td>07/05/2015</td>
                              </tr>
                              <tr>
                                 <td>3</td>
                                 <td><span class="label label-info">가입소개 양식</span></td>
                                 <td><span class="label label-info">모임장</span></td>
                                 <td><span class="label label-info">공지사항</span></td>
                                 <td>07/05/2015</td>
                              </tr>

                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>

               <div id="Paris" class="tabcontent">
                  <h3>가입인사및 자기소개 게시판</h3>
                  <p>Paris is the capital of France.</p>
               </div>

               <div id="Tokyo" class="tabcontent">
                  <h3>Tokyo</h3>
                  <p>Tokyo is the capital of Japan.</p>
               </div>
               <!-- Tab List end -->




            </div>
            <!-- end col -->
         </div>
         <!-- end row -->
      </div>
      <!-- container -->
   </div>

   <!-- 참여자보기 모달 시작 -->
   <!-- The Modal -->
   <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
         <span class="close">&times;</span>
         <div class="inbox-widget">

            <a href="#">
               <div class="inbox-item">
                  <div class="inbox-item-img">
                     <img src="https://bootdey.com/img/Content/avatar/avatar2.png"
                        class="rounded-circle" alt="">
                  </div>
                  <p class="inbox-item-author">TomaslaASDASDASDu</p>
                  <p class="inbox-item-text">I've finished it! See you so...</p>
                  <p class="inbox-item-date"></p>
               </div>
            </a> <a href="#">
               <div class="inbox-item">
                  <div class="inbox-item-img">
                     <img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                        class="rounded-circle" alt="">
                  </div>
                  <p class="inbox-item-author">Stillnotdavid</p>
                  <p class="inbox-item-text">This theme is awesome!</p>
                  <p class="inbox-item-date">
                     <button type="button"
                        class="btn btn-icon btn-sm waves-effect waves-light btn-success">Reply</button>
                  </p>
               </div>
            </a> <a href="#">
               <div class="inbox-item">
                  <div class="inbox-item-img">
                     <img src="https://bootdey.com/img/Content/avatar/avatar4.png"
                        class="rounded-circle" alt="">
                  </div>
                  <p class="inbox-item-author">Kurafire</p>
                  <p class="inbox-item-text">Nice to meet you</p>
                  <p class="inbox-item-date">
                     <button type="button"
                        class="btn btn-icon btn-sm waves-effect waves-light btn-success">Reply</button>
                  </p>
               </div>
            </a> <a href="#">
               <div class="inbox-item">
                  <div class="inbox-item-img">
                     <img src="https://bootdey.com/img/Content/avatar/avatar5.png"
                        class="rounded-circle" alt="">
                  </div>
                  <p class="inbox-item-author">Shahedk</p>
                  <p class="inbox-item-text">Hey! there I'm available...</p>
                  <p class="inbox-item-date">
                     <button type="button"
                        class="btn btn-icon btn-sm waves-effect waves-light btn-success">Reply</button>
                  </p>
               </div>
            </a> <a href="#">
               <div class="inbox-item">
                  <div class="inbox-item-img">
                     <img src="https://bootdey.com/img/Content/avatar/avatar6.png"
                        class="rounded-circle" alt="">
                  </div>
                  <p class="inbox-item-author">Adhamdannaway</p>
                  <p class="inbox-item-text">This theme is awesome!</p>
                  <p class="inbox-item-date">
                     <button type="button"
                        class="btn btn-icon btn-sm waves-effect waves-light btn-success">Reply</button>
                  </p>
               </div>
            </a> <a href="#">
               <div class="inbox-item">
                  <div class="inbox-item-img">
                     <img src="https://bootdey.com/img/Content/avatar/avatar2.png"
                        class="rounded-circle" alt="">
                  </div>
                  <p class="inbox-item-author">더보기Tomaslau</p>
                  <p class="inbox-item-text">I've finished it! See you so...</p>
                  <p class="inbox-item-date">
                     <button type="button"
                        class="btn btn-icon btn-sm waves-effect waves-light btn-success">Reply</button>
                  </p>
               </div>
            </a> <a href="#">
               <div class="inbox-item">
                  <div class="inbox-item-img">
                     <img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                        class="rounded-circle" alt="">
                  </div>
                  <p class="inbox-item-author">Stillnotdavid</p>
                  <p class="inbox-item-text">This theme is awesome!</p>
                  <p class="inbox-item-date">
                     <button type="button"
                        class="btn btn-icon btn-sm waves-effect waves-light btn-success">Reply</button>
                  </p>
               </div>
            </a>
         </div>
      </div>

   </div>

   <!-- 참여자보기 모달 끝 -->

   <!-- 스터디가입자 모달 시작 -->
   <div id="myNav" class="overlay">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <div class="overlay-content">
         <h1>모임가입자 현황</h1>
         <div class="inbox-widget">
            <div class="inbox-widget">
               
               
               <tr th:each="moimpeopleList : ${moimpeopleList}">
                  <a href="#">
                     
                     <div class="inbox-item">
                        <div class="inbox-item-img">
                           <img src="https://bootdey.com/img/Content/avatar/avatar2.png"
                              class="rounded-circle" alt="">
                        </div>
                        <p class="inbox-item-author">
                           <span style="visibility:hidden;" th:text="${moimpeopleList.id}" id="peopleIdKind" />
                           <td th:text="${moimpeopleList.name}" />
                           
                        </p>
                        <p class="inbox-item-date">
                           <span th:if="${session.peopleId==moimDetail.people.id}">
                              <button type="button"
                                 class="btn btn-icon btn-sm waves-effect waves-light btn-success">운영진주기</button>
                              <button type="button"  
                                 class="w3-button w3-white w3-border w3-border-blue" name="banpeople_btn" th:value="${moimpeopleList.id}">강퇴하기</button>
                           </span> 
                           
                        </p>
                     </div>

                  </a>
               </tr>
            </div>
         </div>
         <!-- 스터디가입자 모달 끝 -->
         <script>
            function openCity(evt, cityName) {
               var i, tabcontent, tablinks;
               tabcontent = document.getElementsByClassName("tabcontent");
               for (i = 0; i < tabcontent.length; i++) {
                  tabcontent[i].style.display = "none";
               }
               tablinks = document.getElementsByClassName("tablinks");
               for (i = 0; i < tablinks.length; i++) {
                  tablinks[i].className = tablinks[i].className.replace(
                        " active", "");
               }
               document.getElementById(cityName).style.display = "block";
               evt.currentTarget.className += " active";
            }
            //참여자보기 모달 스크립트 시작 
            // Get the modal
            var modal = document.getElementById("myModal");
            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");
            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];
            // When the user clicks the button, open the modal 
            btn.onclick = function() {
               modal.style.display = "block";
            }
            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
               modal.style.display = "none";
            }
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
               if (event.target == modal) {
                  modal.style.display = "none";
               }
            }
            //참여자 보기 모달 스크립트 끝
            //모임가입자 보기
            function openNav() {
               document.getElementById("myNav").style.width = "100%";
            }
            function closeNav() {
               document.getElementById("myNav").style.width = "0%";
            }
            //모임가입자 보기 끝
            //오프라인모임 팝업창 시작
            $('#moim_offMoim_btn').click(function(event){  //버튼을 클릭 했을시 popupOpen 함수 출력 
                 console.log('click');
                 popupOpen();   //Popup Open 함수
             });
              
            function popupOpen(){
            	 var moimNo = $('#moimNo').attr("data-moimNo");
            	
                 var scWidth = screen.availWidth;
                 var scHeight = screen.availHeight;
    
                var left = (parseInt(scWidth)-650)/2;   // 창의 왼쪽 간격을
                var top = (parseInt(scHeight)-900)/2; //창의 높이를
               
                var url= "/moimoffMakeView/"+moimNo;    //팝업창 페이지 URL
                var win = window.open(url , 'test_popup', 'width=1030, height=695, top='+top+', left='+left);
                win.focus();
            }
            //오프라인모임 팝업창 끝
         </script>
         <script src="/js/moim/moimDetail.js"></script>
</body>
</html>