<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <css th:replace="layout/header::headerCss"/>
</head>
<body onload="initMoimMake();">
<div th:replace="layout/header::header"/>
<style>
/* 카메라 이미지스타일 */
.upload-club-img {
    height: 240px;
    background-color: white; /* #f4f4f4 */
    border-radius: 4px;
    border: 1px solid #d8d8d8;
    position: relative;
    overflow: hidden;
    
/* 카메라 이미지스타일 */
}
.img-box.upload-club-img label {
    position: absolute;
    width: 110px;
    height: 90px; 
    background-image: url(images/camera_image.jpg);
    cursor: pointer;
    left: 46%;
    top: 46%;
    margin-top: -28px;
    margin-left: -28px;
} 

  #moimMake_btn {
  	margin-top: 20px;
  }
  
  #preview_img {
    position: absolute;
  	width: 300px; 
  	height: 200px;
  	object-fit: ; original
  }
   
   #del_img {
  	float: right;
  	vertical-align: bottom;
  } 
 
</style>
 <div id="moimNo" th:data-moimNo="${no}"></div><!-- 모임번호 -->
<div class="site-wrap">
    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>


    <div class="site-cover site-cover-sm same-height overlay single-page"
         style="background-image: url('images/img_5.jpg');">
        <div class="container">
            <div class="row same-height justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="post-entry text-center">
                        <h2 class="">나만의 모임 만들기</h2>
                        <p class="lead mb-4 text-white">관심 분야의 모임을 만들어 여러 사람들과 함께 도전해보는건 어떨까요</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="site-section bg-light">
        <div class="container" >
            <div class="row">
                <div class="col-md-7 mb-5"  style="margin-left:250px">

                    <form id="moim_make_from" class="p-5 bg-white">
					   <tr th:each="moimDetail : ${moimDetail}">
						<input type="hidden" id="sido_key" value="12685d425f1af0872d756c" />
						<input type="hidden" id="sigoon_key" value="b0888bae39fbd0463a9252" /> 
                      
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-black">모임 이름 (필수) </label> <input
                                    type="text" name="title" id="title" placeholder="모임이름을 입력하세요" th:value="${moimDetail.title}" class="form-control">
                            </div>

                        </div>
                        <div class="row form-group">
                            <div class="col-md-6">
                                <label class="text-black">모임 인원수 (필수)</label> 
                                <input
                                    type="number" name="peopleLimit" id="peopleLimit" class="form-control"
                                    placeholder="2~999 입력"  min="0" max="999" step="1" th:value="${moimDetail.peopleLimit}">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-black">모임 주제 (필수) </label>
                                <select name="category" id="categorybox" class="form-control">
                                    <option value="선택" selected="selected"><td th:text="${moimDetail.category.commName}" /></option>
                                </select>
                            </div>
                        </div>
                       
                        <!-- <div class="row form-group">
                            <div class="col-md-6">
                         		<label class="text-black">활동 지역 (필수) </label>
		                        <select name="sido_code" id="sido_code" class="form-control">
									<option value="">선택</option>
								</select> 
								<select name="sigoon_code" id="sigoon_code" class="form-control">
									<option value="">선택</option>
								</select>
							</div>
						</div> -->
						
						<div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-black">모임원 구성 방법</label><br>
								<input type="radio" name="chk_info" value="N" che checked="checked">누구나(승인없이 모임 가입)      
								<input type="radio" name="chk_info" value="Y">승인필수(운영진의 승인 후 가입)
                            </div>
                        </div>
						
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-black">모임 소개 </label>
                                <textarea name="message" id="intro" cols="30" rows="7"
                                          class="form-control" th:text="${moimDetail.intro}"></textarea>
                            </div>
                        </div>

                        <label class="text-black">대표사진 </label> 
                        <input type="file" id="moim_image_file" name="file"  hidden="true"/>
                        <input type="button"  id="del_img" value="사진 삭제" onclick="deletePreImage();">
                        <div class="img-box upload-club-img mrgb48">
                        	<label onclick="" for="id_club_images" class="club_camera"></label>
<!--                          	<input type="file" id="moim_image_file" name="file" hidden="true">  -->
                        	<img id="preview_img" onerror="" alt="">
                        </div>
                        
                        <div id="moimUpdate_btn" class="row form-group">
                            <div class="col-md-12">
                                <div class="btn btn-primary py-2 px-4 text-white" >모임만들기</div>
                            </div>
                        </div>
					  </tr>
                    </form>
                </div>
            
            </div>
        </div>
    </div>

    <div class="site-footer">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-4">
                    <h3 class="footer-heading mb-4">About Us</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Placeat reprehenderit magnam deleniti quasi saepe, consequatur
                        atque sequi delectus dolore veritatis obcaecati quae, repellat
                        eveniet omnis, voluptatem in. Soluta, eligendi, architecto.</p>
                </div>
                <div class="col-md-3 ml-auto">
                    <!-- <h3 class="footer-heading mb-4">Navigation</h3> -->
                    <ul class="list-unstyled float-left mr-5">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Advertise</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Subscribes</a></li>
                    </ul>
                    <ul class="list-unstyled float-left">
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Sports</a></li>
                        <li><a href="#">Nature</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <script src="/js/moim/moimUpdate.js"></script>
                    <script src="/js/common/loading.js" type="text/javascript"></script>
					<link href="/css/common/loading.css" rel="stylesheet" type="text/css" />
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>