<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
	<!-- 메뉴바 클릭하면 나오는 목록 시작! -->
	<link
		href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
		rel="stylesheet">
  <div th:fragment="moimDetailsubmenu">
	<header class="floating-header">

		<div class="floating-menu-btn">
			<div class="floating-menu-toggle-wrap">
				<div class="floating-menu-toggle">
					<span class="bar"></span> <span class="bar"></span> <span
						class="bar"></span>
				</div>
			</div>
		</div>

		<div class="main-navigation-wrap">
			<nav class="main-navigation" data-back-btn-text="Back">
				<ul class="menu">
<!-- 					<li class="menu-item-has-children current-menu-item delay-0">
						<a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>More
							Options</a>
						<ul class="sub-menu">

							<li class="current-menu-item"><a href="#">Home Design
									Agency</a></li>
							<li><a href="#">Home Architecture</a></li>
							<li><a href="#">Home Photographer</a></li>
						</ul>
					</li> -->
					<li class="delay-1"><a href="/moimDetail/moimPicture">모임리스트로 가기</a></li>
					<li class="delay-1"><a href="/moimDetail/moimPicture">사진첩
							보러가기</a></li>
					<li class="delay-2"><a href="/moimDetail/moimTodoList">모임일정관리</a></li>
					<li class="delay-3"><a href="/moimDetail/moimChatroom">단체
							채팅방</a></li>
					<li class="delay-4"><a href="#">Contacts</a></li>
					<li class="delay-5"><a href="#">Elements</a></li>
				</ul>
				<!-- .menu -->
			</nav>
			<!-- .main-navigation -->
		</div>
		<!-- .main-navigation-wrap -->
	</header>
	<!-- 메뉴바 클릭하면 나오는 목록 끝! -->
	</div>
</body>
</html>