<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <css th:replace="layout/header::headerCss"/>
</head>
<body>
<form action="#" class="p-5 bg-white">
<div id="moimNo" th:data-No="${no}"></div><!-- 모임번호 -->
   <div class="site-section bg-light" >
        <div class="container" >
            <div class="row">
                <div class="col-md-7 mb-5"  style="margin-left:250px">

                    <form id="moim_make_from" class="p-5 bg-white">

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-black">오프라인모임 이름 </label> <input
                                    type="text" name="title" id="title" placeholder="모임이름을 입력하세요" class="form-control">
                            </div>

                        </div>
                        <div class="row form-group">
                            <div class="col-md-6">
                                <label class="text-black">모임 인원수</label> 
                                <input
                                    type="number" name="peopleLimit" id="peopleLimit" class="form-control"
                                    placeholder="2~999 입력"  min="0" max="40" step="1" >
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-black">장소 </label><br>
                                <input type="hidden"  id="x_location" class="form-control" placeholder="x좌표">
                                <input type="hidden" id="y_location" class="form-control" placeholder="y좌표">
                                <input type="text" id="address" class="form-control" onclick="execDaumPostcode()" placeholder="주소">
								<div id="map" style="width:100%;height:300px;margin-top:10px;"></div>
                            </div>
                        </div>
                        	날짜 : <input type="text" name="from_date" id="from_date" />
                        <div class="row form-group"> 
                            <div class="col-md-12">
                                <label class="text-black">오프라인모임 내용 </label>
                                <textarea name="message" id="intro" cols="30" rows="7"
                                          class="form-control"
                                          placeholder="당신의 모임을 소개하세요!"></textarea>
                            </div>
                        </div>
                        
                         <div id="offmoimMake_btn" class="row form-group">
                            <div class="col-md-12">
                                <div class="btn btn-primary py-2 px-4 text-white">정모 일정 만들기</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="/js/jquery-3.3.1.min.js"></script>
 <script src="/js/jquery-migrate-3.0.1.min.js"></script>
 <script src="/js/jquery-ui.js"></script>
 <script src="/js/popper.min.js"></script>
 <script src="/js/bootstrap.min.js"></script>
 <script src="/js/owl.carousel.min.js"></script>
 <script src="/js/jquery.stellar.min.js"></script>
 <script src="/js/jquery.countdown.min.js"></script>
 <script src="/js/jquery.magnific-popup.min.js"></script>
 <script src="/js/bootstrap-datepicker.min.js"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=42cfe7e202569ddc17d0382ed4f6a5dd&libraries=services"></script>
<script type="text/javascript" src="/js/moim/popup/moimoffMake.js"></script>

</body>
</html>