<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <css th:replace="layout/header::headerCss"/>
     <link th:href="@{/css/community/communityList.css}" rel="stylesheet" /><!-- 커뮤니티리스트css -->
      <link th:href="@{/css/community/sidemenu.css}" rel="stylesheet" /><!-- 사이드메뉴css -->

<style>
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    
}
.glyphicon glyphicon-chevron-up {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
</style>
</head>
<body>
<div th:replace="layout/header::header"/>

<div class="container">
<div th:replace="community/sidemenu::sidemenu"/>
<div id="board_group_id" class="board_group_id"th:data-boardGroupNo="${board_group_id}"></div>

   <ul class="timeline">
   <!-- 글쓰기 -->
    <li>
     
         
         <!-- end timeline-icon -->
         <!-- begin timeline-body -->
         <div class="timeline-body">
            <div class="timeline-header">
               <!-- <span class="userimage"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""></span>
               <span class="username"><a href="javascript:;">Choiseongjun</a> <small></small></span> -->
            </div>
            <div class="timeline-content"> 
                	  <textarea class="form-control" id="memo" rows="3" placeholder="What are you thinking?"></textarea>
            </div>
            
              <button class="btn btn-primary f-s-12 rounded-corner" id="community_write_btn" type="button">글쓰기</button>
         </div>
         <!-- end timeline-body -->
      </li>
   <!-- 글쓰기완료시점 -->
   <tr th:each="timeLineList : ${timeLineList}">
      <li>
         <!-- begin timeline-time -->
         <div class="timeline-time">
            <span class="time"><!--  <td th:text="${timeLineList}">  --> </span>
         </div>
         <!-- end timeline-time -->
         <!-- begin timeline-icon -->
         <div class="timeline-icon">
            <a href="javascript:;">&nbsp;</a>
         </div>
         <!-- end timeline-icon -->
         <!-- begin timeline-body -->
   
         <div class="timeline-body">
            <div class="timeline-header">
               <span class="userimage"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""></span>
               <span class="username"><a href="javascript:;">작성자:<td th:text="${timeLineList.people.name}" />  </a> <small>작성일자:<td th:text="${timeLineList.createDate}"></small></span>
               <span class="pull-right text-muted">18 Views</span> 
               <div id="timeLineListNo" th:data-timeLineListNo="${timeLineList.id}"></div><!-- 타임라인 각번호(자바스크립트  ajax로 보내기위함) by choiseongjun -->
               <span th:if="${session.peopleId==timeLineList.people.id}">
               <button class="pull-right text-muted" id="community_delete_btn" type="button">글 삭제하기</button>
               </span>
            </div>
            <div class="timeline-content">
               <p>
           			<td th:text="${timeLineList.memo}"></td> 
               </p>
            </div>
            <div class="timeline-likes">
               <div class="stats-right">
                  <span class="stats-text">259 Shares</span>
                  <span class="stats-text">21 Comments</span>
               </div>
               <div class="stats">
                  <span class="fa-stack fa-fw stats-icon">
                  <i class="fa fa-circle fa-stack-2x text-danger"></i>
                  <i class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"></i>
                  </span>
                  <span class="fa-stack fa-fw stats-icon">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                  </span>
                  <span class="stats-total">4.3k</span>
               </div>
            </div>
            <div class="timeline-footer">
               <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
               <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a> 
               <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
            </div>
            <div class="timeline-comment-box">
               <div class="user"><img src="https://bootdey.com/img/Content/avatar/avatar6.png"></div>
               <div class="input">
                  <form action="">
                     <div class="input-group">
                        <input type="text" class="form-control rounded-corner" placeholder="Write a comment...">
                        <span class="input-group-btn p-l-10">
                        <button class="btn btn-primary f-s-12 rounded-corner" type="button">Comment</button>
                        </span>
                     </div>
                  </form>
               </div>
            </div>
         </div>
       
         <!-- end timeline-body -->
      </li>
       </tr>
      
      
   </ul>
   <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
   
</div>
<script>/* 사이드메뉴 버튼바 */
		$(function() {
			$(".btn-toggle-menu").click(function() {
				$("#wrapper").toggleClass("toggled");
			});
		})
		
		/* 백투더위 */
$(document).ready(function(){
     $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });
        
        $('#back-to-top').tooltip('show');

});		
	</script> 
<script src="/js/community/communityList.js"></script>
</body>
</html>