<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<css th:replace="layout/header::headerCss" />
<link th:href="@{/css/community/sidemenu.css}" rel="stylesheet" />
<!-- 사이드메뉴css -->
<div th:replace="layout/header::header" />
<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}



nav > .nav.nav-tabs{

  border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  border: none;
    padding: 18px 25px;
    color:#fff;
    background:#272e38;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #e74c3c ;
}
.tab-content{
  background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #e74c3c;
    border-bottom:5px solid #e74c3c;
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: #e74c3c;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}
</style>
<div th:replace="community/sidemenu::sidemenu" />

</head>

<body>


	<div class="container1" style="margin-left:250px; max-width:1180px">
		<div id="write">
			<a th:href="@{'/community/studycafeWrite/' + ${board_group_no}}">
				<button type="button" class="btn btn-primary btn-xs">글쓰기</button></a>
		</div>
                <div class="col-xs-12 ">
                  <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">최신</a>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">지역별</a>
                      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">리뷰 많은순</a>
                      <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">평점 높은순</a>
                    </div>
                  </nav>
                  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    
          <div class="container">
			<div class="row">  
                  
                    <div class="col-lg-4 mb-4">
						<div class="entry2">
								<img
								
								alt="Image" class="img-fluid rounded">
							<div class="excerpt">
								
								<h2>
									<a href="/community/studycafeDetail">독서실 이름</a>
								</h2>
								<div class="post-meta align-items-center text-left clearfix">

									<figure class="author-figure mb-0 mr-3 float-left">
										<img src="images/person_1.jpg" alt="Image" class="img-fluid">
									</figure>
									<span class="d-inline-block mt-1">By <a href="#">id</td></a></span> <span>&nbsp;-&nbsp;
										July 19, 2019</span>
								</div>

								<p>
								 …
								</p>
								<p>
									지역
								</p>
							</div>
						</div>
					</div>
					
					<div class="col-lg-4 mb-4">
						<div class="entry2">
								<img
								
								alt="Image" class="img-fluid rounded">
							<div class="excerpt">
								
								<h2>
									독서실 이름
								</h2>
								<div class="post-meta align-items-center text-left clearfix">

									<figure class="author-figure mb-0 mr-3 float-left">
										<img src="images/person_1.jpg" alt="Image" class="img-fluid">
									</figure>
									<span class="d-inline-block mt-1">By <a href="#">id</td></a></span> <span>&nbsp;-&nbsp;
										July 19, 2019</span>
								</div>

								<p>
								 …
								</p>
								<p>
									지역
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 mb-4">
						<div class="entry2">
								<img
								
								alt="Image" class="img-fluid rounded">
							<div class="excerpt">
								
								<h2>
									독서실 이름
								</h2>
								<div class="post-meta align-items-center text-left clearfix">

									<figure class="author-figure mb-0 mr-3 float-left">
										<img src="images/person_1.jpg" alt="Image" class="img-fluid">
									</figure>
									<span class="d-inline-block mt-1">By <a href="#">id</td></a></span> <span>&nbsp;-&nbsp;
										July 19, 2019</span>
								</div>

								<p>
								 …
								</p>
								<p>
									지역
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 mb-4">
						<div class="entry2">
								<img
								
								alt="Image" class="img-fluid rounded">
							<div class="excerpt">
								
								<h2>
									독서실 이름
								</h2>
								<div class="post-meta align-items-center text-left clearfix">

									<figure class="author-figure mb-0 mr-3 float-left">
										<img src="images/person_1.jpg" alt="Image" class="img-fluid">
									</figure>
									<span class="d-inline-block mt-1">By <a href="#">id</td></a></span> <span>&nbsp;-&nbsp;
										July 19, 2019</span>
								</div>

								<p>
								 …
								</p>
								<p>
									지역
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 mb-4">
						<div class="entry2">
								<img
								
								alt="Image" class="img-fluid rounded">
							<div class="excerpt">
								
								<h2>
									독서실 이름
								</h2>
								<div class="post-meta align-items-center text-left clearfix">

									<figure class="author-figure mb-0 mr-3 float-left">
										<img src="images/person_1.jpg" alt="Image" class="img-fluid">
									</figure>
									<span class="d-inline-block mt-1">By <a href="#">id</td></a></span> <span>&nbsp;-&nbsp;
										July 19, 2019</span>
								</div>

								<p>
								 …
								</p>
								<p>
									지역
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 mb-4">
						<div class="entry2">
								<img
								
								alt="Image" class="img-fluid rounded">
							<div class="excerpt">
								
								<h2>
									독서실 이름
								</h2>
								<div class="post-meta align-items-center text-left clearfix">

									<figure class="author-figure mb-0 mr-3 float-left">
										<img src="images/person_1.jpg" alt="Image" class="img-fluid">
									</figure>
									<span class="d-inline-block mt-1">By <a href="#">id</td></a></span> <span>&nbsp;-&nbsp;
										July 19, 2019</span>
								</div>

								<p>
								 …
								</p>
								<p>
									지역
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 mb-4">
						<div class="entry2">
								<img
								
								alt="Image" class="img-fluid rounded">
							<div class="excerpt">
								
								<h2>
									독서실 이름
								</h2>
								<div class="post-meta align-items-center text-left clearfix">

									<figure class="author-figure mb-0 mr-3 float-left">
										<img src="images/person_1.jpg" alt="Image" class="img-fluid">
									</figure>
									<span class="d-inline-block mt-1">By <a href="#">id</td></a></span> <span>&nbsp;-&nbsp;
										July 19, 2019</span>
								</div>

								<p>
								 …
								</p>
								<p>
									지역
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>	
                    
                    </div>
                    
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                      Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                      Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                    </div>
                    <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                      Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                    </div>
                  </div>
                
                </div>
              </div>
      </div>
	
	</div>

</body>
</html>