<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <css th:replace="layout/header::headerCss"/>
</head>
<body>
<div th:replace="layout/header::header"/>
<form action="#" class="p-5 bg-white">
    <div class="row form-group">

        <div class="col-md-12">
            <label class="text-black">아이디 </label> <input
                type="email" id="id" class="form-control">
        </div>
    </div>

    <div class="row form-group">

        <div class="col-md-12">
            <label class="text-black">이름</label> <input
                type="subject" id="name" class="form-control">
        </div>
    </div>
    <div class="row form-group">

        <div class="col-md-12">
            <label class="text-black">비밀번호</label> <input
                type="password" id="password" class="form-control">
        </div>
    </div>
    <div class="row form-group">

        <div class="col-md-12">
            <label class="text-black">성별</label> <input
                type="subject" id="sex" class="form-control">
        </div>
    </div>
    <div class="row form-group">

        <div class="col-md-12">
            <label class="text-black">생년월일 </label>
			<input type="subject" id="birth" class="form-control">
        </div>
    </div>
    <div id="signup_btn" class="row form-group">
        <div class="col-md-12">
            <div class="btn btn-primary py-2 px-4 text-white">회원가입1</div>
        </div>
	</div>
</form>
<script src="/js/people/signup.js"></script>
</body>
</html>