<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="todo">
       <select id="selecttodoStatusGroup" resultType="us.flower.dayary.domain.ToDoWrite" parameterType="long">
	       	select count(id) as cnt ,status from moim_todo_write
			where moim_id=#{no}
			group by status
       </select>
       
       <select id="selectTodoCompltLankChart" resultType="us.flower.dayary.domain.DTO.TempData" parameterType="long">
	      SELECT COUNT(a.id) AS cnt
			,b.name 		 AS name
		 	FROM moim_todo_write a,people b
			WHERE a.moim_id=#{no} AND a.STATUS='End' AND a.people_id=b.id 
			GROUP BY a.people_id ORDER BY cnt DESC LIMIT 5;
       </select>
       
       
</mapper>