<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="todo">
       <select id="selecttodoStatusGroup" resultType="us.flower.dayary.domain.ToDoWrite" parameterType="long">
	       	select count(id) as cnt ,status from moim_todo_write
			where moim_id=#{no}
			group by status
       </select>
</mapper>